/* Grid and pre-header styles */
.grid { border:1px solid #515e6a;font:normal 11px "Segoe UI","Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif;background:#fff; }
	.grid .hdr { width:100%;height:30px;border-bottom:1px solid #042c41;line-height:30px;background:#095075 url("../images/horizontal.png") repeat-x;color:#fff; }
		.grid .hdr .txt { padding:0 8px;font-weight:bold;cursor:default; }

/* Data cell styles */
.dat { border-bottom:1px solid #ededed;border-left:1px solid #ededed;padding-left:3px; }
.icon { padding-left:0px;}
.ind { cursor:default; }

/* Row (and data cell) styles */
.row { background:#fff;line-height:18px;cursor:default;height:18px; }
.row-h { line-height:18px;background:#e8f5fd url("../images/horizontal.png") repeat-x 0 -96px;cursor:default; }
	.row-h .dat { padding:0 0 0 4px;border-left:0px solid #d8f0fa;border-right-color:#e4edf2; }
	.row-h .ind { padding:0 1px;border-left:0px solid #d8f0fa;border-right:none; }
	.row-h .icon { padding-left:1px; }
	.row-h .last { padding:0 0 0 1px; }
.row-s { line-height:18px;background:#e8f5fd url("../images/horizontal.png") repeat-x 0 -111px;cursor:default; }
	.row-s .dat { padding:0 0 0 4px;border-left:0px solid #99defd;border-right-color:#e0eff9; }
	.row-s .ind { padding:0 1px;border-left:0px solid #99defd;border-right:none; }
	.row-s .icon { padding-left:1px; }
	.row-s .last { padding:0 0 0 1px; }

/* Grouped rows & cells */
/*.grp-hd { line-height:18px;cursor:default;height:18px;background:#fff url("../images/horizontal.png") repeat-x 0 -130px;margin:0 4px 0 0;border:1px solid #fff; }*/
.grp-hd-txt {color:#011548;line-height:25px;cursor:default;height:25px;}
.grp-hd { color:#011548;line-height:18px;cursor:default;height:18px; background:#F8E1D2;border-top:solid 1px #ffffff;padding-left:1px;}
	.grp-hd span { color:#011548;padding:0 8px 0 0;font-size:12px;font-weight:bold; } 

/* Group By field text */
.grid .hdr .grp .txt { color:#011548;background:transparent url("../images/static.png") no-repeat 0 -110px;padding:0 16px 0 24px; }




/* Header styles */
.row-hd { height:22px !important;cursor:default; }
	.row-hd .ind { border-top:1px solid #35436A;border-left:1px solid #25345D;border-right:1px solid #25345D;border-bottom:1px solid #172752;background:#eee url("../images/horizontal.png") repeat-x 0 -30px;text-align:center; }
	.row-hd .cell { border-top:1px solid #35436A;border-left:1px solid #25345D;border-right:1px solid #25345D;border-bottom:1px solid #172752;background:#eee url("../images/horizontal.png") repeat-x 0 -30px;text-align:center; }
	.row-hd .cell-h { border-top:1px solid #35436A;border-left:1px solid #25345D;border-right:1px solid #25345D;border-bottom:1px solid #172752;background:#3E4D74 url("../images/horizontal.png") repeat-x 0 -52px;text-align:center; }
	.row-hd .cell-d { border-top:1px solid #35436A;border-left:1px solid #25345D;border-right:1px solid #25345D;border-bottom:1px solid #172752;background:#3E4D74 url("../images/horizontal.png") repeat-x 0 -30px;text-align:center; }
	.row-hd .txt { color:#fff;line-height:22px;padding:0 0 0 8px; }
	.row-hd .sort { border-top:1px solid #35436A;border-left:1px solid #25345D;border-right:1px solid #25345D;border-bottom:1px solid #172752;background:#f2f9fc  url("../images/horizontal.png") repeat-x 0 -74px; }

/* Footer styles */
.grid .ftr { background:#bbd9f0 url("../images/vertical.png") repeat-y;border-top:1px solid #9db6c5;color:#000;height:48px; }
	.grid .ftr > table { padding:0 8px; }
	.grid .ftr .txt { color:#000;line-height:48px;cursor:default; }


/* Slider popup */
.pop { width:300px;height:61px;padding:0;border:1px solid #515e6a;background:#fff;font:normal 12px "Segoe UI","Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif; }
	.pop .con { padding:0;margin:0;border:none;width:100%;height:44px; }
		.pop .con .ico { float:left;width:20px;height:100%;background:#bbd9f0;padding:0 2px; }
			.pop .con .ico img { float:left;margin:8px 1px 0 1px; }
			.pop .con .ico img.eml { display:block;margin:5px 0 0 0; }

		.pop .con .txt { float:left;width:260px;height:100%;background:#f8fdff;position:relative; }
			.pop .con .txt .send { line-height:22px;width:50%;float:left;height:22px; }
				.pop .con .txt .send span { padding-left:4px;color:#737373; }
			.pop .con .txt .date { line-height:22px;width:50%;float:left;height:22px;text-align:right; }
				.pop .con .txt .date span { padding-right:4px;color:#737373; }
			.pop .con .txt .subj { line-height:22px;width:95%;height:22px;height:22px;padding:0 4px;overflow:hidden;text-overflow:ellipsis;position:absolute;left:0;bottom:0; }
				.pop .con .txt .subj span { font-weight:bold;color:#000; }

		.pop .con .flag { float:left;width:16px;height:100%;background:#bbd9f0; }
			.pop .con .flag img { margin:16px 2px 0 2px; }

	.pop .ftr { width:100%;height:16px;line-height:14px;background:#095075 url("../images/horizontal.png") repeat-x 0 -6px;color:#fff;border-top:1px solid #515e6a;font-size:11px; }
		.pop .ftr .pg { width:50%;float:left; }
			.pop .ftr .pg span { padding-left:6px; }
		.pop .ftr .msg { width:50%;float:left;text-align:right; }
			.pop .ftr .msg span { padding-right:6px; }


/* Context Menu */
.col-mnu { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat; }
.cell-h .col-mnu { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat 0 -22px; } /* 'hover' header context menu */
.col-mnu-h { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat 0 -44px; }
.col-mnu-d { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat 0 -43px; }
.sort .col-mnu { width:20px;height:22px;background:transparent url("../images/static.png") no-repeat 0 -88px; } /* sorted header context menu */

.mnu { border:1px solid #999;width:142px;background:#f6f6f6 url("../images/menu/vertical.png") repeat-y;font-family:"Segoe UI","Lucida Grande",Tahoma,Verdana,Arial,Helvetica,sans-serif;font-size:11px;color:#333;cursor:default;text-align:left; }
	.mnu .itm { width:140px;height:25px; }
	.mnu .itm-h { width:140px;height:25px;background:#f6f6f6 url("../images/menu/static.png") no-repeat;color:#000; }

	.mnu .br { width:140px;height:4px;background:#f6f6f6 url("../images/menu/static.png") no-repeat 0 -25px;overflow:hidden;line-height:4px; }

	.mnu .ico { display:block;width:16px;height:16px;float:left;margin:4px 7px 0px 8px;background:transparent url("../images/menu/icons.png") no-repeat -16px 0; }

	.mnu .sort-desc { background-position:0 0; }
	.mnu .sort-asc { background-position:0 -16px; }
	.mnu .grp-asc { background-position:0 -32px; }
	.mnu .grp-desc { background-position:0 -48px; }
	.mnu .ungrp { background-position:0 -64px; }


	.mnu .txt { display:block;float:left;height:24px;line-height:24px;width:86px;padding:0 0 0 6px; }
	

.ScrollBar
{
  /*background-image: url(../images/scroller/scroller_bg.gif);*/
  	border: 1px solid #D9E1EC;
	color: #BFC4D1;
		scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}

.ScrollGrip
{
  /*background-image: url(../images/scroller/scroll_gripBg.gif); */
  background-color:#BFC4D1;
  	border: 2px solid #FFFFFF;
	scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}