
* { 
	margin: 0px;
	padding: 0px;
}

BODY {

	margin: 0px 0px;
	text-align: center;
	width:100%;

}

A:visited, A:active, A:link {
	text-decoration: none;
}

A:hover {
	text-decoration: underline;
}

.hr, .hr2  { 
	float: left;
	clear: both; 
	height: 1px;
	width: 100%;
}

.hr { 
	margin: 15px 0px;
}

.hr2 { 
	margin: 7px 0px;
}

.hr hr, .hr2 hr { 
	display: none; 
}

h2
{
		display: block;
	font-weight: bold;
}

/* WRAPPER
-----------------------------------------------------------------------------
*/

#wrapper {
	width: 950px;
	padding: 5px;
	margin: 0 auto;
	background: #FFFFFF;
	text-align: left;
	overflow: hidden;
}

/* HEADER
-----------------------------------------------------------------------------
*/
#header 
{
	width: 100%;
	height: 95px;
	position: relative; 
}
#wrapper div.sourcing, #wrapper .ovumit, #wrapper .vendor, #wrapper .enterprise, #wrapper .telecoms
/* #header.sourcing, #header.ovumit, #header.vendor, #header.enterprise, #header.telecoms */ /* IE6 doesn't like this */
{
	height: 105px; /* Ovum and Sourcing KC sites */
}
#header h1 
{
	background-image: url(../images/header_kctitle.gif); 
	background-position: -999px -999px; /* there is no blank section in the image */
	display: inline;
	height: 50px;
	position: absolute;
	right: 0;
	text-indent: -999em;
	top: 0;
	width: 400px;
}
#header h1.ovum 
{
	width: 855px; /* Ovum sites also use the LH side of the sprite */
}
#header.auto h1
{
	background-position: right top;
}
#header.consumer h1 
{
	background-position: right -100px;
}
#header.fs h1
{
	background-position: right -150px;
}
#header.forecourt h1 
{
	background-position: right -200px;
}
#header.logistics h1
{
	background-position: right -250px;
}
#header.news_and_deals h1 
{
	background-position: right -300px;
}
#header.pharma h1 
{
	background-position: right -450px;
}
#header.ps h1
{
	background-position: right -500px;
}
#header.technology h1 
{
	background-position: right -550px; /* image prob. - needs changing to correct position */
}
#header.utilities h1 
{
	background-position: right -600px;
}
#header.retail h1 
{
	background-position: right -650px;
}
#header.sourcing h1 
{
	background-position: right -700px;
}
#header.industries hi 
{
	background-position: right -750px;
}

/* Ovum branded sites.. */
#header.ovumit h1, #header.vendor h1 
{
	background-position: right -350px;
}
#header.telecoms h1 
{
	background-position: right -400px;
}
#header.enterprise h1 
{
	background-position: right -50px;
}

#header_nav {
	bottom: 0;
	width: 100%;
	height: 38px;
	/*padding-top: 57px;
	position: absolute;*/
}
#header_search {
	display: inline;
	float: right;
	
	width: 265px;
}
#header_search P {
	float: left;
	width: 60px;
	height: 13px;
	display:inline;
	text-indent: -100000px;
	font-size: 1px;
	line-height: 1px;
	margin-right: 7px;
}
/*
#header_search A IMG {
	height: 18px;
	width: 15px;
	border: 0;
	margin-left: 7px;
}
*html #header_search A IMG {
	margin-left: 4px;
}
*/
#header_search INPUT {
	font-size: 10px;
	border: 0px;
	width: 151px;
	/*display: inline;*/ 
	/* display property will make hidden input fields visible in Firefox and is only needed
       on floated elements in IE6 when a margin has been set. Attribute selectors not supported 
       in IE6, otherwise previous selector better defined as something 
       like input:not([type='hidden']) */
	float: left;
	padding: 1px 3px 2px 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

input[type='hidden']
{
	display: none;
	/* we're only targeting browsers other than IE so it doesn't matter if IE6 doesn't understand this */
}

/* TABS
-----------------------------------------------------------------------------
*/
#tabs {
	float: left;
	display: inline;
	margin: 15px 0px 0px 7px;
	width: 660px;
}
#tabs li {
    list-style: none;
	display: inline;
}
#tabs a {	
	float: left;
	margin-top: 5px;
	overflow: hidden;
	text-indent: -10000px;
}
#tabs a#tab_welcome {
	background-position: left top;
	width: 84px;
}
#tabs a#tab_findinfo {
	background-position: -84px top;
	width: 126px;
}
#tabs a#tab_myhome {
	background-position: -210px top;
	width: 83px;
}
#tabs a#tab_mytools {
	background-position: -293px top;
	width: 80px;
}
#tabs a#tab_myprofile111 {
	background-position: -373px top;
	width: 101px;
	border-right: 0px;
}
li.tab_myprofile_icon {
	float: left;
}
#tabs a#tab_myprofile {
	text-indent: 0;
	font-size: 10px;
	padding: 0px 10px 0px 15px;
	margin-left: 15px;
	border-right: 0;
}
#tabs a#tab_welcome:hover, #tabs a#tab_welcome.selected {
	background-position: left -25px;
}
#tabs a#tab_findinfo:hover, #tabs a#tab_findinfo.selected {
	background-position: -84px -25px;
}
#tabs a#tab_myhome:hover, #tabs a#tab_myhome.selected {
	background-position: -210px -25px;
}
#tabs a#tab_mytools:hover, #tabs a#tab_mytools.selected {
	background-position: -293px -25px;
}
#tabs a#tab_myprofile:hover {
	background-position: right 5px;
	text-decoration: none;
	color: #FFFFFF;
}
#myprofile div {
	position: absolute;
	width: 920px;
	padding: 9px 15px 9px;
	font-size: 10px;
}
#myprofile div.userdetails_home {
	position: static;
	float: left;
	clear: both;
	z-index: 1;
}
#myprofile div A {
	padding-left: 10px;
	margin-left: 10px;
}

/* BREADCRUMB & STATUS BAR
-----------------------------------------------------------------------------
*/

.breadcrumb, .statusbar {
	float: left;
	clear: both;
	width: 100%;
}

.statusbar {
	padding-bottom: 7px;
}

.breadcrumb {
	padding-top: 7px;
}

.breadcrumb IMG {
	display: inline;
	float: left;
	margin-left: 5px;
}

.breadcrumb UL, .breadcrumb P {
	float: left;
	clear: left;
	width: 900px;
	padding: 0px 0px 7px 15px;
	font-size: 11px;
}

.breadcrumb UL {
	font-weight: bold;
}

.breadcrumb LI {
	display: inline;
	float: left;
	margin-right: 10px;
}

#breadcrumb_title {

	float: left;

	clear: left;

	width: 765px;

	padding-top: 7px;

	padding-left: 5px;

	padding-right: 5px;

	display: inline;

	vertical-align: middle;

}

#breadcrumb_title IMG {

	vertical-align: middle;

}

#breadcrumb_title H1 {

	text-transform: uppercase;

	font-size: 12px;
	font-weight: bold;
	line-height: 12px;

	display: inline;

	padding-right: 5px;

}

#breadcrumb_title H3 {

	clear: left;

	font-size: 11px;

	line-height: 13px;

}

#breadcrumb_title P {

	clear: left;

	font-size: 11px;

	line-height: 18px;

}

.breadcrumb_arrow A:visited, .breadcrumb_arrow A:active, .breadcrumb_arrow A:link, .toplevel {

	width: auto;

	padding-right: 13px;

}

.breadcrumb_arrowback {

	padding-left: 10px;

}

.remove {

	font-size: 9px;

	margin-top: 1px;

	font-weight: normal;

	padding-left: 21px;

	text-decoration: none;

}

.userlinks {

	font-size: 10px;

	margin-top: 1px;

	font-weight: normal;

	padding-left: 7px;

	margin-left: 7px;

	text-decoration: none;

}

.didyoumean {

	font-size: 10px;

	font-weight: normal;

	margin-top: 1px;

}

.didyoumean A {

	width: auto;

	font-weight: bold;

}

.toplevel {

	color: #000000;

	text-transform: uppercase;

}

/* GENERAL LAYOUT
-----------------------------------------------------------------------------
*/

#column_refine {

	position: relative;

	float: left;

	clear: left;

	width: 195px;

	padding-right: 15px;

	margin-bottom: 15px;

	display: inline;

}

#column_refine_right {

	float: right;

	width: 195px;

	padding-left: 15px;

	margin-bottom: 15px;

	display: inline;

}

#column_refine2 {

	float: left;

	clear: left;

	width: 175px;

	margin-right: 15px;

	padding-top: 5px;

	display: inline;

}

#column_other {
	position: relative;
	float: left;
	clear: left;
	width: 170px;
	margin-right: 5px; /* Changed from 15px to 5px */
	display: inline;
}

#column_registration {

	position: relative;

	float: right;

	width: 170px;

	margin-left: 15px;

	display: inline;

}

#maincontent, #maincontent2, #maincontent3, #maincontent_view {
	float: left;
	width: 730px;
	display: inline;
	
}

#maincontent2 {

	padding-left: 10px;

}


#maincontent_full {


	float: left;

	clear: left;

	width: 930px;

	margin: 15px 0px 15px 10px;

	display: inline;

}

#maincontent_full #maincontent, #maincontent_full #maincontent2 {

	margin: 0px;

}

/* Definition lists in main content areas.. */
#maincontent dl
{
	font-size: 12px;
	margin: 10px 0 30px 0;
}
#maincontent dt
{
	color: #1e3267;
	font-weight: bold;
}
#maincontent dd
{
	margin: 0 0 15px 20px;
}
#maincontent dd dt
{
	color: #dc671e;
	font-size: 11px;
	text-transform: uppercase
}
#maincontent dl dl
{
	margin: 10px 0 0 0;
}
#maincontent dd dd 
{
	margin: 0;
}
/* - */
#maincontent_view dl
{
	font-size: 12px;
	margin: 10px 0 30px 0;
}
#maincontent_view dt
{
	color: #1e3267;
	font-weight: bold;
}
#maincontent_view dd
{
	margin: 0 0 15px 20px;
}
#maincontent_view dd dt
{
	color: #dc671e;
	font-size: 11px;
	text-transform: uppercase
}
#maincontent_view dl dl
{
	margin: 10px 0 0 0;
}
#maincontent_view dd dd 
{
	margin: 0;
}
#maincontent_view {
	display: none;
}
/* PAGE TITLE
-----------------------------------------------------------------------------
*/

#pagetitle {

	padding-bottom: 3px;

	width: 100%;

	margin-bottom: 15px;
}

#pagetitle H1 {

	font-size: 18px;

	margin: 0;

	padding: 0;

	text-transform: none;

}

#pagetitle H2 {

	font-size: 14px;

	padding: 5px 0px 0px 0px;

	margin: 0;

	border: 0;

}

#pagetitle H4 {

	font-size: 11px;

	padding: 5px 0px 0px 0px;

	margin: 0;

	border: 0;

}

#pagetitle H3 {

	font-size: 10px;

	line-height: 11px;

	font-weight: normal;

	padding: 5px 0px 0px 0px;

	margin: 0;

}

#pagetitle H3 A {

	font-weight: bold;

	line-height: 20px;

	padding-left: 10px;

}

/* BROWSE STYLES
-----------------------------------------------------------------------------
*/

.browse_styles {

	word-wrap: break-word;

}

.browse_styles H1 A:link, .browse_styles H1 A:active, .browse_styles H1 A:visited {

	width: auto;

	height: 100%;

	display: block;

	padding: 5px 7px;

	font-size: 12px;

}

.browse_styles H1 A:hover {

	text-decoration: none;

}

.browse_styles H2 {

	font-size: 14px;

	line-height: 17px;

	padding: 7px 0px 2px 0px;

	clear: left;

	white-space: normal;

}

.browse_styles H3 {

	font-size: 10px;

	line-height: 13px;

	font-weight: normal;

	padding: 2px 0px 7px 0px;

}

.browse_styles H4 {

	font-size: 18px;

	padding-bottom: 10px;

	margin-bottom: 15px;

	clear: left;

}

.browse_styles H5 {

	width: auto;

	height: 100%;

	display: block;

	padding: 5px 7px;

	font-size: 12px;

	line-height: 13px;

	clear: left;

}

.browse_styles UL {

	clear: left;

	list-style-type: none;

	position: relative;

}

.browse_styles LI {

	font-size: 10px;

	line-height: 13px;

	padding: 5px 0px 5px 15px;

	_height: 100%; /* causing problems on themes pages.. not sure if it's here for IE6 so prepended with underscore rather than deleted (IE6 will still apply this) */

}

.browse_styles LI A {
	font-size: 11px;
	line-height: 14px;
}


/* BROWSE TABLES
-----------------------------------------------------------------------------
*/

.browse_table {
	position: relative;
	width: 100%;
	margin-top: 7px;
	clear: both;
}

.browse_table TD {
	padding: 3px;
	vertical-align: top;
}

.browse_table TD A {
	font-weight: bold;
}

.browse_table TH {
	padding: 3px;	
	font-size: 11px;
	white-space: nowrap;
}

/* Begin: 'browse-table-mod'
   'browse-table-mod' is an additional class added to 'browse_table' tables intended to give
   more fine-grained control without disturbing the original 'browse_table' class selectors.. */
table.browse_table.browse-table-mod
{
	border-collapse: collapse;
	margin-top: 10px;
}
.browse-table-mod td
{
	vertical-align: middle;
}
.browse-table-mod .action
{
	text-align: center;
	width: 50px;
}
.browse-table-mod .action a  
{
	display: block;
	height: 15px;
	margin: 0 auto;
	/*overflow: hidden;*/
	/*text-indent: -999em;*/
	width: 15px;
}

.browse-table-mod .action.delete a,
.browse-table-mod .action.rss a,
.browse-table-mod .action.rss-inactive a
{
	overflow: hidden;
	text-indent: -999em;
}

/* End: 'browse-table-mod' */

a#rss-save
{
	display: block;
	float: right;
	font: bold 9px/15px Verdana, Arial, Helvetica, sans-serif;
	height: 15px;
	margin-right: 5px;
	padding-right: 20px;
}

.arrow_none A:link, .arrow_none A:active, .arrow_none A:visited, .arrow_up A:link, 
.arrow_up A:active, .arrow_up A:visited, .arrow_down A:link, 
.arrow_down A:active, .arrow_down A:visited {
	padding-right: 7px;
	text-decoration: none;
}

/* PAGE NUMBERS
-----------------------------------------------------------------------------
*/

.search_pagesnumbers {
	position: relative;
	float: left;
	clear: left;
	width: 100%;
	margin: 15px 0px 8px 0px;
	padding: 5px 0px;
	font-size: 10px;
	font-weight: bold;
}

.search_pagesnumbers_left {
	position: relative;
	float: left;
	clear: left;
	width: auto;
}

.search_pagesnumbers_right {
	position: relative;
	float: right;
	clear: right;
	width: auto;
	text-align: right;
}

/* OTHER STYLES
-----------------------------------------------------------------------------
*/

.other_styles {

	padding-left: 10px;

	line-height: 16px;

	min-height: 315px;

}

/* for Internet Explorer */ 
/*\*/

* html .other_styles { /* Now only works in IE6 and below.. intended? */

	height: 315px;

}
/**/

.other_styles P, .registration_styles P {

	margin-bottom: 5px;

	clear: left;

	width: 100%;

}

.other_styles H1, .registration_styles H1 {

	clear: both;

	font-size: 13px;

	line-height: 16px;

	margin-bottom: 15px;

}

.other_styles H2, .registration_styles H2 {

	clear: both;

	width: 100%;

	font-size: 13px;

	padding-bottom: 10px;

	margin-bottom: 15px;

}

.other_styles H3, .registration_styles H3 {

	clear: both;

	font-size: 12px;

	line-height: 15px;

	margin-bottom: 15px;

}

.other_styles .browse_table {

	font-size: 10px;

}

.other_styles .browse_table a {
	font-size: 11px;
}

.other_bullets, .other_bullets UL {

	margin-top: 8px;

	padding-bottom: 0px;

	list-style-type: none;

	font-size: 10px;

}

.other_bullets LI {

	padding: 7px 0px 0px 11px;

}

/* FORMSTYLES
-----------------------------------------------------------------------------
*/

.formstyle {

	width: 125px;

	padding: 1px;

	margin: 0px;

	font-size: 11px;

	line-height: 11px;

}

.formstyle2 {

	width: 250px;

	padding: 3px;

	margin: 0px;

	font-size: 11px;

	line-height: 11px;

}

.formstyle3 {

	width: 98%;

	padding: 1px;

	margin: 0px;

	font-size: 11px;

	line-height: 11px;

}

#welcome_form {

	clear: both;

	width: 100%;

	height: 25px;
	line-height: 25px;
	font-size: 12px;

	font-weight: bold;

}

#welcome_form p {

	float: left;

	display: inline;

	padding-left: 10px;

}

#welcome_form .background_searchgo {

	margin-left: 5px;

	margin-right: 5px;

	float: right;

	margin-top: 5px;

}

.formstyle4 {

	float: left;

	width: 189px;

	padding: 5px;

	margin-left: 10px;

	border: 0;

	font-size: 11px;

	line-height: 11px;

}

.formstyle5 {

	padding: 1px;

	margin: 0px;

	font-size: 11px;

	line-height: 11px;

	font-size: 10px;

	line-height: 10px;

	font-weight: normal;

}

/* inform the user of their status after form submission.. */
.form-message
{
	display: none;
	float: left;
	margin: 5px 0 0 20px;
	width: 240px;
}
.form-message.on
{
	display: block;
}
.form-message h4
{
	background-color: #ff0033;
	color: #fff;
	float: left;
	font-size: 10px;
	margin-bottom: -1px;
	padding: 1px 5px;
}
.form-message p
{
	border: 1px solid #ccc;
	margin-bottom: 0;
	padding: 2px 5px;
	width: auto;
}



/* MISC

-----------------------------------------------------------------------------

*/

.excel A {

	float: right;

	position: relative;

	padding-left: 14px;

	text-decoration: none;

	font-weight: bold;

	font-size: 10px;

}

.search_company {

	padding: 7px;

	font-weight: bold;

}

.alert_edit a:link, .alert_edit a:visited, .alert_edit a:active {

	font-size: 9px;

	font-weight: normal;

}

#loadingImage {

	text-align: center;

	margin-top: 100px;

}

.highlight {

	background: yellow;

}

#header_search .background_searchgo {
	height: 14px;
	width: 14px; 
}
#welcome_form .background_searchgo {
	height: 16px;
	width: 15px; 
}
#header_search .background_searchgo_inactive,
#welcome_form .background_searchgo_inactive {
	background-position: right 1px;
}
#header_search .background_searchgo_active,
#welcome_form .background_searchgo_active {
	background-position: right -34px;
}



.background_searchgo2 {

	margin: 0px 5px;

	cursor: pointer;

}

/* LEFT HAND MENU STYLES
-----------------------------------------------------------------------------
*/

#refineleft {

	padding-bottom: 15px;

}

#refineright {

	padding-bottom: 15px;

}

.refinesearch {

	font-size: 10px;

	line-height: 11px;

	padding: 0px 5px;

}

.refinesearch H1 {
	display: block; /* usually the default for a header.. */
	height: 1%;
	padding: 5px 5px 12px 5px;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	margin-bottom: 5px;
}

.refinesearch H2 {
	clear: left;
	display: block; /* usually the default for a header.. */
	font-size: 10px;
	font-weight: bold;
	padding: 0px 5px 1px 0px;
	height: 1%;
	text-transform: uppercase;
}

.refinesearch H2 input {
	margin-bottom:-3px;
	_margin-bottom: -2px;
	margin-top: 5px;
	_margin-top: 0px;
}

.refinesearch H4 {

	clear: left;

	font-size: 10px;

	padding: 5px 5px 1px 0px;

	height: 1%;

	text-transform: uppercase;

}

.refinesearch UL {

	height: 1%;

	list-style-type: none;

	margin-bottom: 5px;

}

.refinesearch LI A:visited, .refinesearch LI A:active, .refinesearch LI A:link {

	width: auto;

	height: 1%;

	padding-top: 3px;

	padding-bottom: 3px;

	padding-right: 3px;

	display: block;

	word-wrap: break-word;

}

.refinesearch LI A:hover, .selected A:link, .selected A:visited, .selected A:active {

	text-decoration: none;

}

.refinesearch .formstyle {

	margin: 3px 0px 6px 0px;

	float: left;

}

.refinesearch .background_searchgo2 {

	margin-top: 4px;

	float: left;

}

.selected {

	font-weight: bold;

}

.unselectable {

	width: auto;

	height: 1%;

	padding: 3px 5px;

	display: block;

	word-wrap: break-word;

	color: #BFC4D1;

}

.level1 {

	padding-left: 9px;

}

.level1_arrow {

	padding-left: 9px;

}

.level2 {

	padding-left: 16px;

}

.level3 {

	padding-left: 23px;

}

.level4 {

	padding-left: 30px;

}

.level5 {

	padding-left: 37px;

}

.level6 {

	padding-left: 44px;

}

html>body .refinesearch LI A {

	width: auto;

}

#column_other .refinesearch {

	padding: 0px;

}

#column_other .refinesearch LI {

	margin-bottom: 1px;

	font-weight: bold;

}

#column_other .refinesearch LI.child {

	margin-bottom: 1px;
	font-weight: normal;
}

#column_other .refinesearch UL {

	margin-bottom: 15px;

}

#column_other .refinesearch LI A {

	padding: 3px 5px;

}

#column_other .refinesearch LI.child A {

	padding: 3px 15px;

}

#column_other .refinesearch H2 {

	font-size: 11px;

	line-height: 12px;

	margin-bottom: 3px;

}

/* FOOTER
-----------------------------------------------------------------------------
*/

#footer {

	float: left;

	width: 940px;

	font-size: 10px;

	padding: 10px 5px 5px 5px;

	display: inline;

}

#footer_left {

	float: left;

	clear: left;

	display: inline;

}

#footer_right {

	float: right;

	text-align: right;

	display: inline;

}

/* OVERVIEW - LAYOUT
-----------------------------------------------------------------------------
*/

.bucket_left, .bucket_right {
	/*position: relative;*/
	width: 357px;
}

.bucket_left {
	float: left;
	clear: left;
}

.bucket_right {
	float: right;
	clear: right;
}

.bucket_middle {
	float: right;
	width: 200px;	
	margin-right:8px;
}

.browse_styles .bucket_left H2, .browse_styles .bucket_right H2, .browse_styles .bucket_middle H2,  .browse_styles .bucket_full H2, .welcome_right .browse_styles H2 {

	padding: 7px 5px 2px 5px;

}

.browse_styles .bucket_left H3, .browse_styles .bucket_right H3, .browse_styles .bucket_middle H3,  .browse_styles .bucket_full H3, .welcome_right .browse_styles  H3  {

	padding: 2px 5px 7px 5px;

}

.browse_styles .bucket_left P, .browse_styles .bucket_right P, .browse_styles .bucket_middle P, .browse_styles .bucket_full P, .welcome_right .browse_styles P  {

	padding: 0px 5px;

}

.bucket_blue {
	padding: 0px 7px 7px 7px;
}

.bucket_full {
	/*position: relative;*/
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}

#market_data {

	position: relative;

	float: left;

	clear: both;

	width: 100%;

	overflow: auto;

	height: auto;

}

.product_image {

	float: left;

	margin-right: 7px;

	margin-bottom: 7px;

}

/* TOGGLE VIEW
-----------------------------------------------------------------------------
*/
#overview_options {
	float: left;
	clear: both;
	width: 100%;
	display: inline;
}
#overview_options P {
	float: right;
	margin: 5px 5px 0px 0px;
	font-size: 9px;
}

/* TOGGLE VIEW
-----------------------------------------------------------------------------
*/
#overview_options {
	float: left;
	clear: both;
	width: 100%;
	display: inline;
}
#overview_options P {
	float: right;
	margin: 5px 5px 0px 0px;
	font-size: 9px;
}
#toggleview {
	float: right;
	margin-bottom: 15px;
}
#toggleview A {
	text-indent: -100000px;
	display: block;
	width: 23px;
	height: 21px;
	float: left;
	outline: none;
}

/* THEME PAGE
-----------------------------------------------------------------------------
*/

.theme_flash {
	float: left;
	width: 950px;
}

.theme_alert, .theme_ask {
	margin-top: 15px;
}

/* AUTOCOMPLETE
-----------------------------------------------------------------------------
*/

div.autocomplete {
	position: absolute;
	width: 204px;
	margin:0;
	padding:0;
	z-index: 90000000;
	left: 751px;
	background: url(../images/popularsearch_shadow_bot.png) no-repeat left bottom;
	_background: none;
	padding-bottom: 4px;
}

div.autocomplete ul {
	background: url(../images/popularsearch_shadow_side.png) repeat-y;
	padding: 0px 3px;
	_padding: 0px;
	_margin: 0px 3px;
	_background: none;
	_border: 1px solid #CCCCCC;
	_border-top: 0;
}

div.autocomplete ul li {
	list-style-type:none;
	display:block;
	margin:0;
	font-size: 9px;
	padding: 0;
	background: #FFFFFF;
}

div.autocomplete ul li H5 {
	font-size: 9px;
	font-weight: normal;
	padding: 1px 3px 2px;
	color: #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
}

div.autocomplete ul li a {
	list-style-type:none;
	display:block;
	margin:0;
	padding: 2px 3px;
	width: 190px;
	_width: 188px;
	color: #000000;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

div.autocomplete ul li a:hover, div.autocomplete ul li.selected {
	text-decoration: none;
	color: #000000;
}



/* FULL INDEX COL
-----------------------------------------------------------------------------
*/

.fullindex_col, .fullindex_col2, .reg_col, .reg_col2 {
	float: left;
	width: 223px;
}

.reg_col h2, .reg_col2 h2 {
	margin-bottom: 0px;
	font-size: 11px;
	padding-bottom: 3px;
}

.reg_col .other_bullets, .reg_col2 .other_bullets {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 20px;
}

.reg_col .other_bullets A, .reg_col2 .other_bullets A {
	font-weight: bold;
}

.fullindex_col, .reg_col {
	padding-right: 26px;
}

.fullindex_col H2, .fullindex_col2 H2 {
	margin-top: 20px;
}

.fullindex_col H3, .fullindex_col2 H3 {
	font-size: 12px;
	line-height: 12px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.browse_styles .fullindex_col H2, .browse_styles .fullindex_col2 H2 {
	margin-top: 0px;
}

.browse_styles .fullindex_col H3, .browse_styles .fullindex_col2 H3 {
	font-size: 10px;
	line-height: 12px;
	margin-bottom: 0px;
}

.fullindex_col UL,.fullindex_col2 UL {
	list-style: none;
	font-size: 11px;
	line-height: 13px;
	padding-bottom: 10px;
}

.fullindex_col LI, .fullindex_col2 LI {
	padding: 0px 0px 5px 7px;
}

/* Mini columns - four across fit inside #maincontent.. */
#maincontent div.mini-column
{
	float: left;
	padding: 0 15px 10px 0;
	width: 165px;
}
.mini-column.last
{
	padding-right: 0;
}
.mini-column h4
{
	font-size: 11px;
}

/* MY TOOLS HOME PAGE
-----------------------------------------------------------------------------
*/

.mytools_wrapper {

	float: left;

	clear: both;

	width: 100%;

	padding-bottom: 15px;

}

.mytools_left {

	float: left;

	clear: left;

	width: 435px;

}

.mytools_right {

	float: right;

	clear: right;

	width: 435px;

}

.mytools_wrapper IMG {

	margin-bottom: 15px;

}

.mytools_col, .mytools_col2 {

	float: left;

	width: 202px;

	padding-bottom: 15px;

}

.mytools_col {

	padding-right: 30px;

}

/* ALERTS & ADVANCED SEARCH
-----------------------------------------------------------------------------
*/

.alert_wrapper {

	float: left;

	clear: left;

	width: 100%;

	display: inline;

	margin: 15px 0px;

}

.alert_tree {

	height: 200px;

	overflow: auto;

	margin-bottom: 5px;

}

.alert_tips {

	width: 173px;

	float: right;

	padding: 5px;

	font-size: 9px;

	line-height: 12px;

}

.alert_left {

	width: 515px;

	float: left;

}

.alert_left UL {

	list-style-type: none;

}

.alert_left LI {

	margin-bottom: 5px;

}

.alert_keyword {
	margin-top: 15px;
	font-weight: bold;
	padding: 7px 10px 0px 20px;
	height: 24px;
	line-height: 11px;
}

.advanced_table {
	position: relative;
	float: left;
	clear: left;
	width: 100%;
}

.advanced_table P {

	padding-left: 0;

	padding-right: 0;

}

.advanced_table H2 {

	padding-top: 0;

	padding-left: 0;

	padding-right: 0;

}

.advanced_table H3 {

	border-bottom: 0;

	padding-bottom: 0;

	padding-left: 0;

	padding-right: 0;

}

.advanced_table TD {

	padding: 7px 0px;

	vertical-align: top;

}

.hidden_content {

	float: left;

	clear: left;

	width: 100%;

	display: inline;

}

/* ADVANCED SEARCH TOGGLE BOX
-----------------------------------------------------------------------------
*/

#advanced_criteria, #alert_criteria  {

	display: none;

	clear: left;

	width: 800px;

	font-size: 10px;

	line-height: 15px;

	padding-left: 30px;

}

.alert_left #advanced_criteria   {

	display: block;

	width: auto;

	padding-left: 0px;

}

.alert_left #advanced_criteria  P {

	margin-bottom: 7px;

}

#companies, #criteria_companies  {

	display: none;

}

#advanced_criteria P {

	font-weight: bold;

	margin-bottom: 3px;

	text-transform: uppercase;

}

#advanced_criteria A {

	position: relative;

	font-weight: bold;

	padding-right: 11px;

	text-transform: none;

	/*white-space: nowrap;*/

}

/* WELCOME PAGE
-----------------------------------------------------------------------------
*/

.welcome_wrapper {

	width: 100%;

	float: left;

	clear: left;

}

#welcome_spacing {

	margin-top: 30px;

}

#theme_spacing {
      margin-top: 15px;
}

.welcome_left, .welcome_right {

	width: 290px;
}

.welcome_left {

	float: left;

}

.welcome_right {

	float: left;

	margin-left: 30px;

}

.welcome_left h1, .welcome_right h1 {

	clear: left;
	display: block;
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px;

	position: relative;

}

.welcome_left h4, .welcome_right h4 {

	clear: left;

	font-size: 11px;

	padding: 10px 5px 0px 5px;

}

.welcome_adverts {

	float: right;

	width: 610px;

	clear: right;

}

.welcome_col_left {

	float: left;

	clear: left;

	width: 135px;

}

.welcome_col_right {

	float: right;

	width: 135px;

}

.welcome_bullets, .highslide-body UL  {
	clear: both;
	padding-top: 10px;
	/*position: relative;*/ /* why? Causes 'rate my content' lists to disappear in IE7 only */
}

.welcome_bullets LI, .highslide-body LI {
	list-style-type: none;
	padding: 0 0 5px 15px;
}

.welcome_issue {
	padding: 10px;
}

/* BUTTON
-----------------------------------------------------------------------------
*/

.button_orange, .button_right, .button_clear {

	width: 130px;

	font-size: 11px;

	line-height: 12px;

	font-weight: bold;

	text-align: left;

	text-transform: uppercase;

}

.button_orange, .button_clear {

	float: left;

}

.button_right {

	float: right;

}

.button_orange a:link, .button_orange a:active, .button_orange a:visited {

	width: 130px;

	display: block;

	padding: 4px 0px 4px 0px;

	text-decoration: none;

	text-indent: 25px;

}

.button_right a:link, .button_right a:active, .button_right a:visited {

	width: 130px;

	display: block;

	padding: 4px 0px 4px 0px;

	text-decoration: none;

	text-indent: 10px;

}

.button_clear a:link, .button_clear a:active, .button_clear a:visited {

	width: 130px;

	display: block;

	padding: 4px 0px 4px 0px;

	text-decoration: none;

	text-indent: 25px;

}

.button_orange a:hover, .button_right a:hover, .button_clear a:hover {

	text-decoration: none;

}

/* REGISTRATION PAGES - CONTACTS
-----------------------------------------------------------------------------
*/

.registration_contacts {

	font-size: 10px;

	line-height: 13px;

	text-align: center;

}

.registration_contacts H1 {

	font-size: 10px;

	text-transform: uppercase;

	margin-top: 15px;

	padding-top: 15px;

	text-align: left;

}

.registration_contacts P {
	margin-top: 5px;
	text-align: left;
}

.registration_contacts A {
	font-weight: bold;
}

.list_kcs IMG {
	margin: 15px 15px 0px 0px;
	float: left;
}



.login_box {

	float: left;

	padding: 7px;

}

#login {
	width: 770px;
	margin-left: 80px;
	margin-top: 15px;
	float: left;
	display: inline;
}

#login P {

	clear: both;

}

/* HIGHSLIDE POPUP
-----------------------------------------------------------------------------
*/

.highslide-html-content {
	position: absolute;
    display: none;
	text-align: left;
}

.highslide-loading {
    display: block;
	font-size: 8pt;
	font-weight: bold;
    text-decoration: none;
	padding: 3px;   
    padding-left: 22px;
    background-repeat: no-repeat;
    background-position: 3px 1px;
}

.highslide-wrapper .highslide-html-content {
    width: 250px;
	font-size: 10px;
	line-height: 11px;
}

.highslide-wrapper .highslide-header {
	margin: 5px 5px 5px 5px;
	padding: 8px 5px 8px 5px;
}
.highslide-header {
	position: relative;
}
.highslide-wrapper .highslide-header ul {
	_margin: 0 5px 0 0;
	padding: 0;
	position: absolute;
	right: 5px;
	top: 5px;
}

.highslide-wrapper .highslide-header ul li {
	display: inline;
}
.highslide-wrapper .highslide-header a {
	/*font-size: 9px;*/ /* this is too small */
	font-weight: normal;
	padding-left: 11px;
	text-decoration: none;
	margin-left: 5px;
}

.highslide-wrapper .highslide-header .highslide-move a {
	cursor: move;
}

.highslide-wrapper {
	
	padding: 10px ;
	position: relative;
}
.highslide-body {
	
	padding: 5px 10px 0px 10px;
	position: relative;
}

#highslide-clipReport-loader, #highslide-clipReport-success, #highslide-clipReport-failure,
#highslide-clipArticle-loader, #highslide-clipArticle-success, #highslide-clipArticle-failure {
	padding: 10px;
}

.highslide-clipReport-loader {
	text-align: center;
}
.button_right.clip-submit
{
	float: none;
	margin-left: 145px;
}
.highslide-header H1 {
	padding: 25px 0px 5px 0px;
	font-size: 12px;
	font-weight: bold;
}
.highslide-html h4 
{
	padding: 0 0 5px 0;
}
.highslide-body P {
	margin-bottom: 5px;
}
.highslide-body input.formstyle3.highslide-input
{
	margin: 10px 0;	
}
.popup_icon_save {
	text-indent: 17px;
}

.popup_icon_home {
	text-indent: 17px;
}

.popup_icon_ask {
	text-indent: 17px;
}

.popup_icon_alert {
	text-indent: 17px;
}

.popup_icon_clip {
	text-indent: 17px;
}

.highslide-move {
    cursor: move;
}

.highslide-wrapper .button_right {
	height: 30px;
}

.highslide-display-block {
    display: block;
}

.highslide-display-none {
    display: none;
}


/* SPRY WIDGET - TAB PANELS
-----------------------------------------------------------------------------
*/

.TabbedPanels {

	position: relative;

	margin: 0px;

	padding: 0px;

	clear: none;

	width: 100%; /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/

}

.TabbedPanelsTabGroup {

	padding: 0px;

	margin: 0px 0px 8px 0px;

	display: inline;

	width: 100%;

	float: left;

}

.TabbedPanelsTab {

	position: relative;

	float: left;

	padding: 5px 10px;

	list-style: none;

	-moz-user-select: none;

	-khtml-user-select: none;

	cursor: pointer;

	font-weight: bold;

	font-size: 12px;

}

.TabbedPanelsTab a {

	text-decoration: none;

}

.TabbedPanelsContentGroup {

	clear: both;

}

.TabbedPanelsContent {
	padding: 0px;
}


/* SPRY WIDGET - MENU BAR
-----------------------------------------------------------------------------
*/
ul.MenuBarHorizontal {
	list-style-type: none;
	font-size: 100%;
	cursor: default;
	width: 265px;
	clear: both;
	padding-top: 5px;
}
ul.MenuBarActive {
	z-index: 1000;
}
ul.MenuBarHorizontal li {
	list-style-type: none;
	position: relative;
	text-align: left;
	float: left;
	line-height: 10px;
	font-size: 10px;
}
ul.MenuBarHorizontal li a {
	padding: 0px 11px;
}
ul.MenuBarHorizontal a:link, ul.MenuBarHorizontal a:active, ul.MenuBarHorizontal a:visited  {
	text-decoration: none;
}
ul.MenuBarHorizontal li a.noline {
	padding-left: 0;
	border-left: 0;
}
ul.MenuBarHorizontal li a {
	cursor: pointer;
}
ul.MenuBarHorizontal ul {
	list-style-type: none;
	z-index: 1020;
	cursor: default;
	width: auto;
	position: absolute;
	left: -1000em;
	margin-top: 5px;
}
ul.MenuBarHorizontal a.MenuBarItemSubmenu {
	padding-right: 13px;
}
ul.MenuBarHorizontal ul.MenuBarSubmenuVisible {
	left: auto;
	width: 155px;
}
ul.MenuBarSubmenuVisible .no-saved-searches span {
	padding: 0 11px 5px 11px; 
	display: block;
	width: 145px;
}
ul.MenuBarSubmenuVisible .no-saved-searches a {
	clear: left;
	font-weight: bold;
	
}
ul.MenuBarHorizontal ul li{
	width: 145px;
	padding: 5px;
	position: relative;
}
ul.MenuBarHorizontal ul li a{
	border-left: 0;
	/*padding: 5px 10px;*/
}
ul.MenuBarHorizontal ul li a.savedsearches_myhome {
	padding-right: 20px
}
ul.MenuBarHorizontal a {
	display: block;
	cursor: pointer;
	text-decoration: none;
}
ul.MenuBarHorizontal a.MenuBarItemSubmenu {
	background-repeat: no-repeat;
	background-position: 95% 40%;
}
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover {
	background-repeat: no-repeat;
	background-position: 95% 40%;
}

/* HACK FOR IE: to make sure the sub menus show above form controls, we underlay each submenu with an iframe */
/* Note: It's actually the Spry javascript library that's creating the iFrame in IE */
ul.MenuBarHorizontal iframe{
	position: absolute;
	z-index: 1010;
}
/* HACK FOR IE: to stabilize appearance of menu items; the slash in float is to keep IE 5.0 from parsing */
@media screen, projection
{
	ul.MenuBarHorizontal li.MenuBarItemIE
	{
		display: inline;
		f\loat: left;
	}
}


/* SPRY WIDGET - ACCORDIAN
-----------------------------------------------------------------------------
*/

.Accordion {
	overflow: hidden;
}

.AccordionPanel {
	margin: 0px;
	padding: 0px;
}

.AccordionPanelTab, .AccordionPanelTabTop {
	margin: 0px;
	cursor: pointer;
	font-weight: bold;
	padding: 10px 10px 10px 20px;
	line-height: 11px;
	margin-top: 1px;
}

.AccordionPanelContent {
	overflow: hidden;
	height: 290px;
}

/* ACCORDIAN
-----------------------------------------------------------------------------
*/
.sccRow {
	clear: both;
	width: 513px;
}

.sccRowTree {
	clear: both;
	/*float: left;*/
}

.shut .sccRow {
	display: none
}

.sccLHS {

	float: left;

	width: 160px;
	padding: 3px;
}

.sccRHS {
	height: 100%;
	margin-left: 170px;
	padding: 3px;
}

.selectionCriteriaControl {
	clear: both;
	display: block;
}

.sccHeaderRow {

	float: left;

	clear: both;
	width: 483px;
	padding: 10px 10px 10px 20px;
	font-weight: bold;
	line-height: 11px;
}

.disabled .sccHeaderRow {
	border: #E5E5E5 1px solid;
	background: #E5E5E5;
	color: #CCCCCC;
}

.sccDisplayName {
	font-weight: bold;
	vertical-align: middle;
	cursor: pointer;
}

.disabled .sccDisplayName {
	cursor: default
}

.sccDisplayName IMG {
	width: 9px;
	height: 11px;
	margin: 0px 4px 3px 6px;
}

.sccSelection, .item SPAN.name {
	color: #000000
}

.sccSelection A {
	cursor: default;
	white-space: nowrap
}

.sccSelection A.selected, .selected SPAN.name {
	color: #007700
}

.sccSelection A.negated, .negated SPAN.name {
	color: #770000
}

.sccSelection .logOp {
	font-size: small
}

P.sccInfo {
	margin-bottom: 0;
	padding: 8px 0px 0px 8px;
	text-align: left
}
.listings {
	padding: 8px;
}
.listing {
	height: 200px;
	display: block;
	overflow: auto;
	list-style-type: none;
}

.listing .item {
	display: block;
	margin-top: 2px;
}

.item IMG.progress {
	margin: 10px
}

.item .label {
	vertical-align: middle
}

.item A.toggle {
	border: 0px;
}

.item IMG.node {
	border: 0px;
	margin: 0px 4px;
	width: 9px;
	height: 11px;
}

.item IMG.selection {
	margin: 0px 4px 0px 0px;
	width: 12px;
	height: 12px
}

IMG.unselected {
	display: none
}

.item A.name {
	border: 0px;
}

.item .tree {
	display: block;
	margin-left: 10px;
	list-style-type: none
}

.item .unpopulated {
	display: none
}

IMG.progress {
	vertical-align: middle
}


/* iREPORT - LAYOUT
-----------------------------------------------------------------------------
*/

.iReport_styles {
	padding-left: 10px;
	word-wrap: break-word;
	position: relative;
}

#iReport_content, #iReport_toc {
	width: 560px;
	padding-right: 15px;
	min-height: 350px;
}

/* for Internet Explorer */

/*\*/

* html #iReport_content {
	height: 350px;
}

/**/



#iReport_tools {

	width: 140px;

	position: absolute;

	left: 600px;

	background: #FFFFFF;

}
#iReport_tools.rmc
{
	left: auto;
	right: 0;
	width: 130px;
}

html>body #iReport_tools {

	padding-top: 15px;

}

/* iREPORT - TABS
-----------------------------------------------------------------------------
*/

#iReport_tabs {
	width: 100%;
	height: 20px;
	list-style: none;
	font-size: 11px;
	line-height: 11px;
	font-weight: bold;
	list-style: none;
}

#iReport_tabs li {
	list-style: none;
	display: inline;
	background-image: none;
	margin: 0;
	padding: 0;
}

#iReport_tabs a {
	float: left;
	padding: 5px 7px 0px 7px;
	height: 14px;
	margin-right: 2px;
	text-decoration: none;
}

/* iREPORT - NAVIGATION
-----------------------------------------------------------------------------
*/

#iReport_navtop {
	width: 100%;
	padding: 5px 0px;
	margin-bottom: 15px;
}

#iReport_navbot {
	width: 100%;
	padding: 5px 0px;
}

#iReport_navtop A, #iReport_navbot A {
	font-weight: bold;
}

.iReport_navright {
	float: right;
	width: auto;
}

.iReport_jumpmenu {
	padding: 1px;
	font-size: 10px;
	line-height: 10px;
	margin: 1px;
	width: 200px;
}

/* iREPORT  STYLES
-----------------------------------------------------------------------------
*/

.iReport_styles  {
	font-size: 12px;
	line-height: 18px;
}

.iReport_styles P {
	margin-bottom: 15px;
	clear: left;
}

#iReport_content P A {
	text-decoration: underline;
}

.iReport_styles H1 {
	font-size: 16px;
	margin-bottom: 15px;
	text-transform: uppercase;
}

.iReport_styles H2 {
	font-size: 15px;
	margin: 45px 0px 5px 0px;
	padding-top: 5px;
}

.iReport_styles H3 {

	font-size: 14px;

	margin-bottom: 10px;

}

.iReport_styles H4 {

	font-size: 13px;

	font-weight: bold;

	text-align: left;

	padding-bottom: 10px;

}

.iReport_styles H5 {

	font-size: 12px;

}

.iReport_styles H6 {

	font-size: 10px;

	line-height: 12px;

	font-weight: normal;

	margin-bottom: 5px;

}

#iReport_content H1 A, #iReport_content H2 A, #iReport_content H3 A, #iReport_content H4 A, #iReport_content H5 A {

	text-decoration: none;

	color: #000000;

	cursor: text;

}

#iReport_content H1 A:hover, #iReport_content H2 A:hover, #iReport_content H3 A:hover, #iReport_content H4 A:hover, #iReport_content H5 A:hover {

	text-decoration: none;

	color: #000000;

}

.iReport_bullets {

	list-style: none;

	margin-bottom: 10px;

}

.iReport_bullets LI {

	padding-left: 15px;

	margin-bottom: 5px;

}

.iReport_numbers {

	margin-bottom: 10px;

	list-style: decimal inside;

}

.iReport_numbers LI {

	margin-bottom: 5px;

}

.verticalSlide 
{
	height: 0;
	overflow: hidden;
}

/* iREPORT - FIGURE AND TABLES
-----------------------------------------------------------------------------
*/

.iReport_copyright {
	float: right;
	padding-left: 5px;
}

.iReport_figure {
	width: 98%;
	clear: left;
	margin-bottom: 15px;
	padding-top: 5px;
	margin-right:5px;
}

.iReport_figure IMG {
	margin-bottom: 15px;
}

.iReport_styles TABLE {
	clear: left;
	width: 100%;
	margin-bottom: 15px;
	background: #FFFFFF;
}

.iReport_styles TABLE P {
	margin: 0;
}

.iReport_styles TD, .iReport_styles TH {
	padding: 5px;
	font-size: 11px;
	line-height: 13px;
	vertical-align: top;
}

.iReport_figure TD, .iReport_figure TH {
	font-size: 9px;
	padding: 3px;
}

.iReport_styles TH {
	text-align: left;
}

.second_header TD {
	font-weight: bold;
}

/* iREPORT - EXTRACT BAR
-----------------------------------------------------------------------------
*/

.iReport_extract {
	width: 100%;

	height: 20px;

	font-size: 10px;

	line-height: 10px;

	list-style: none;

	margin-bottom: 5px;

	font-weight: bold;

}

.iReport_extract li {

	float: left;

}

.iReport_extract_nolink {

	float: left;

	padding: 5px 10px;

	font-weight: normal;

}

.iReport_extract a {

	float: left;

	padding: 5px 10px;

}

.iReport_extract a:hover {

	text-decoration: none;

}

.iReport_extract IMG {

	float: left;

	padding-right: 5px;

	margin: 0px;

}

.iReport_extract_section {

	width: 100%;

	margin-bottom: 15px;

	font-size: 10px;

	padding-bottom: 5px;

}

.iReport_extract_section A {

	padding: 6px 0px 0px 15px;

}


/* iREPORT - TOOLS PANEL
-----------------------------------------------------------------------------
*/

#iReport_tools {
	font-size: 11px;
	line-height: 14px;
}

#iReport_tools H1 {
	display: block;
	font-size: 11px;
	font-weight: bold;
	margin: 20px 0px 5px 0px;

}

#iReport_tools H2, #rating-brief h2 {
	font-size: 10px;
	padding: 5px 0px 3px 17px;
	margin: 0px;
	border: 0px;
}

#iReport_tools UL, #rating-brief ul {
	list-style-type: none;
	font-size: 10px;
}

#iReport_tools LI, #rating-brief li {
	padding-left: 17px;
	margin-bottom: 2px;
}

/* PRODUCTSCAN - TABS
-----------------------------------------------------------------------------
*/

#productscan_tabs {
	width: 100%;
	height: 26px;
	list-style: none;
	font-size: 9px;
	list-style: none;
	/*margin-bottom: 15px;*/
}

#productscan_tabs select {
	float: right;
}

#productscan_tabs li {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

#productscan_tabs A {
	float: left;
	padding: 8px 10px;
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	line-height: 10px;
}

/* PRODUCTSCAN - REPORT VIEW
-----------------------------------------------------------------------------
*/

.productscan_item {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 15px;
	display: inline;
}

.productscan_item IMG {
	float: left;
	display: inline;
	margin: 0px;
}

.productscan_item_content {
	float: right;
	width: 815px;
	display: inline;
}

.productscan_item H1 {
	font-size: 15px;
	padding: 7px 0px;
	margin: 8px 0px;
}

.productscan_item TD {
	padding-bottom: 7px;
	vertical-align: top;
}

/* REFINE CHART BOX
-----------------------------------------------------------------------------
*/

.refinechart {
	float: left;
	clear: both;
	width: 100%;
	margin-bottom: 15px;
}

.refinechart_col {

	float: left;

	width: 228px;

	padding-right: 10px;

	margin-right: 10px;

}

.refinechart_col2 {

	float: left;

	width: 228px;

}

.refinechart_button {
	float: left;
	clear: both;
	width: 100%;
	margin-top: 7px;
	padding: 7px 0px;

}

/* HEAT GRID
-----------------------------------------------------------------------------
*/

#heatgrid {
	width: 100%;
}

#heatgrid TD, #heatgrid TH  {
	font-size: 9px;
	text-align: center;
}

#heatgrid TD {

	text-align: center;

	height: 30px;

	padding: 2px;

}

#heatgrid TH {

	vertical-align: bottom;

	border-right: 1px solid #D9E1EC;

	border-bottom: 1px solid #D9E1EC;

	padding: 2px 2px 4px 2px;

	font-weight: normal;

}

#heatgrid .heatgrid_col {

	border-bottom: 1px solid #D9E1EC;

	border-right: 1px solid #D9E1EC;

	text-align: right;

	padding-right: 4px;

}

.question {

	font-size: 10px;

	margin-top: 15px;

}

H2.question {

	font-size: 10px;

	margin-bottom: 0px;

	padding-bottom: 5px;

	margin-top: 30px;

}

.answer {

	font-size: 10px;

	display: none;

}

.answer OL {

	list-style: decimal;

	padding-left: 25px;

}

.answer LI, .answer P {

	margin-bottom: 10px;

}

/* PRODUCTSCAN OPTIONS
-----------------------------------------------------------------------------
*/

#pagetitle H3 .productscan_next A {
	padding-left: 0px;
	padding-right: 10px;
}

.productscan_icon {
	float: left;
	margin: 0px 15px 15px 0px;
}

.productscan_link {

	color: #ACB2C3;

}

.productscan_extract {

	float: left;

	margin-top: 5px;

}

.productscan_view {

	border-left: 1px solid #BFC4D1;

	height: 25px;

	float: right;

}

.productscan_view UL {

	display: inline;

	list-style: none;

}

.productscan_view  LI {

	display: inline;

	list-style: none;

}

.productscan_view a {

	border-right: 1px solid #BFC4D1;

	border-top: 1px solid #BFC4D1;

	border-bottom: 1px solid #BFC4D1;

	padding: 5px 5px 5px 28px;

	font-weight: bold;	

	float: left;

}

.productscan_view a:hover {

	text-decoration: none;

}

.tableview {

	background: url(../images/tableview.gif) no-repeat 5px 5px;

}

.reportview {

	background: url(../images/reportview.gif) no-repeat 5px 5px;

}

.view_selected A {

	background-color: #D9E1EC;

}

/* POWER SEARCH
-----------------------------------------------------------------------------
*/

.productscan_powersearch{
	padding-left: 10px;
	min-height: 400px;
}
.marketdata_search {
	padding-left: 10px;
	
	
}
/* for Internet Explorer */

/*\*/

* html .productscan_powersearch{
	height: 400px;
}

/**/

.powersearch_col {
	float: left;
	width: 410px;

}

.tickboxes input {
	height: 20px;
	vertical-align: top;
	display: inline;
	clear: left;
	float: left;
}

.tickboxes label {
	float: left;
	width: 90%;
	line-height: 14px;
	margin: 2px 0px 10px 5px;
}

.powersearch_col2 {

	float: right;
	width: 290px;

}

.productscan_powersearch H1, #column_other H5, .marketdata_search H1{

	font-size: 13px;

	padding-bottom: 7px;

	margin-bottom: 15px;

	text-transform: uppercase;

	height: 1%;

	line-height: 14px;

}

.productscan_powersearch H2 , .marketdata_search H2{

	clear: left;

	font-size: 11px;

	margin: 8px 0px;

}

.H2Heading {
	clear: left;
	font-size: 11px;
	margin: 8px 0px;
	display:block;
	font-weight:bold;
	color:#001447;
}

.productscan_powersearch #advanced_criteria{

	display: inline;

	width: 100%;

	font-size: 10px;

	padding: 0;

	margin-top: 15px;

}
.marketdata_search #advanced_criteria{

	display: inline;

	width: 100%;

	font-size: 10px;

	padding: 0;

	margin-top: 15px;

}
.productscan_toggle  {

	padding: 0px 4px;

	white-space: nowrap;

	display: inline;

	color: #000000;

}

#advanced_criteria .productscan_toggle A {

	text-transform: uppercase;

	white-space: nowrap;

	padding: 0;

	background: none;

	color: #BFC4D1;

}

#advanced_criteria .productscan_toggle A:hover {

	text-decoration: none;

	color: #DC671E;

}

.productscan_powersearch #advanced_criteria P{

	padding-top: 7px;
	margin-top: 7px;

}
.marketdata_search #advanced_criteria P {

	padding-top: 1px;
	margin-top: 1px;

}
.powersearch_tree {

/*	 height: 350px; 
	overflow: auto; */
  border-top:solid 1px  #D9E1EC;
  border-bottom:solid 1px  #D9E1EC;
	margin-top: 0px;

}

.productscan_box {

	padding: 7px;

}

.productscan_box H3 {

	margin-bottom: 5px;

	font-size: 11px;

}

.productscan_box P {

	margin: 0px 0px 5px 30px;

}

/* COMPANY PROFILE POP-UP
-----------------------------------------------------------------------------
*/

#ie5menu {
	position: absolute;
	width: 175px;
	border-bottom: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 18px;
	cursor: default;
	font-size: 11px;
	z-index: 100;
}

/*Hack for IE6*/

#ie5menu{

	voice-family: "\"}\"";

	voice-family: inherit;

	_filter: progid:DXImageTransform.Microsoft.Fade(duration=0.4);

}

#ie5menu .title {

	color: white;

	font-family: verdana,sans-serif;

	font-size: 11px;

	font-weight: bold;

	padding: 2px 3px 2px 10px;

}

#ie5menu .menuitem, #ie5menu .menuitem-last{
	padding: 3px 10px;
}

/* make rollover area of link full width of bar */
#ie5menu .menuitem a, #ie5menu .menuitem-last a {
	display: block; 
	width: 100%
}

/* link style for company links */
#rep_body a.co:link, #rep_body a.co:visited, #rep_body a.co:hover { 
	text-decoration: none;
}

/* COMPANY PROFILE STYLES
-----------------------------------------------------------------------------
*/

.company_styles H1 {
	width: auto;
	height: 100%;
	display: block;
	padding: 5px 7px;
	font-size: 12px;
	line-height: 13px;
	margin-bottom: 15px;
	clear: left;
}

.company_styles H2 {

	clear: both;

	width: 100%;

	font-size: 13px;

	padding-top: 15px;

	text-indent: 5px;

}

.company_styles H3 {

	font-size: 12px;

	margin-left: 5px;

}

.company_styles H4 {

	font-size: 10px;

	text-align: center;

	margin-bottom: 15px;

}

.company_styles  {

	font-size: 12px;

	line-height: 18px;

}

.company_styles P {

	margin: 0px 5px 15px 5px;

	clear: left;

}


.company_styles .browse_table {

	font-size: 11px;

	line-height: 13px;

}

.company_styles UL {

	list-style: none;

	margin-bottom: 10px;

}

.company_styles LI {

	padding-left: 20px;

	margin-bottom: 5px;

	position: relative;

}

.beta {

	color: #001447;

	vertical-align: super;

	font-size: 9px;

	font-weight: normal;

}

/* RETAIL DATABASE
-----------------------------------------------------------------------------
*/

#retail_options {

	float: left;

	width: 100%;

}

#retail_options H1 {

	font-size: 11px;

	padding: 10px 0px 5px 10px;

	float: left;

	width: 920px;

	text-transform: uppercase;

}

#retail_options H2 {

	font-size: 11px;

	margin-bottom: 5px;

	text-transform: uppercase;

	font-weight: bold;

}

#retail_options UL {

	list-style: none;

	width: 100%;

	display: inline;

	float: left;

	margin: 10px 0px;

}

#retail_options LI {

	display: inline;

	padding: 0px 10px;

	float: left;

	line-height: 11px;

	font-size: 10px;

}

#retail_options LI A:hover {

	text-decoration: none;

}

#retail_options LI P {

	text-transform: uppercase;

	font-weight: bold;

}

#advanced_criteria .retail_review {

	border: none;

	display: inline;

}

.retail_review {

	font-size: 10px;

	padding-top: 7px;

	margin-top: 7px;

	float: left;

	width: 100%;

}

.retail_review H4 {

	font-size: 10px;

	text-transform: uppercase;

}

.retail_review A {

	font-weight: bold;

}

.retail_review P {

	margin-top: 5px;

}

.retail_review LI {

	list-style: none;

	width: 100%;

	clear:left;

}

.retail_review LI A {

	float: left;

	clear: left;

	padding-left: 12px;

	margin-top: 5px;

}

.retail_table .level1 {

	padding-left: 20px;

}

.retail_table .level2 {

	padding-left: 35px;

}

.retail_table .level3 {

	padding-left: 50px;

}

.retail_table .level4 {

	padding-left: 65px;

}

.retail_table .level5 {
	padding-left: 80px;
}

.retail_table .level6 {
	padding-left: 95px;
}

.retail_table span {
	float: left;
}

.retail_table span IMG {
	position: relative;
	left: -15px;
	top: 2px;
	float: left;
	margin-right: -9px;
}

H1.retail_table_title {

	width: 100%;

	font-size: 13px;

	font-weight: bold;

	margin: 15px 0px 5px 0px;

	float: left;

}

.retail_table {

	clear: both;

	font-size: 10px;

	table-layout: fixed;

	width: inherit;

}

.retail_table TD {

	padding: 5px;

	vertical-align: top;

}

.retail_table TH {

	padding: 5px;

	text-align: left;

	font-size: 10px;

}

.retail_selectview {

	font-size: 12px;

	text-transform: uppercase;

	padding-bottom: 5px;

	margin-bottom: 15px;

}

.retail_selectview A {

	font-size: 10px;

	text-transform: none;

}

.database_title#pagetitle {

	border-bottom: 0;

	padding-bottom: 0;

}


.SlidingPanels {
	position: relative;
	width: 100%;
	padding: 0px;
	border: none;
	float: left;
	margin:0px;
}

.SlidingPanelsContentGroup {
	position: relative;
	float: left;
	width: 10000px;
	margin: 0px;
	padding: 0px;
	border: none;
}

.SlidingPanelsContent {

	float: left;

	overflow: hidden;

	padding: 0px;

	border: none;

	display: inline;

	margin:0px;

	width: 930px;

}

.SlidingPanelsAnimating * {
	overflow: hidden !important;
}

A.sliding_option {

	float:left;

	width: 138px;

	display: inline;

	font-size: 9px;

	margin-left: 10px;

	font-family:Arial, Helvetica, sans-serif;

}

.sliding_button {

	float:left;

	width: 20px;

	display: inline;

	margin-left: 11px;

	margin-top: 25px;

}

.sliding_option IMG {

	margin-bottom: 5px;

}

.sliding_option:hover {

	text-decoration: none;

}

#retail_units, #retail_selections {

	width: 100%;

	margin-top: 10px;

	padding-top: 10px;

	float: left;

	clear: left;

}

* html #retail_units, * html #retail_selections {

	float: none;

}

#retail_units P {

	font-size: 10px;

	margin-bottom: 5px;

}

#retail_dataview {

	display: none;

}

#retail_buttons {

	float: left;

	width: 573px;

	margin-top: 10px;

	padding: 10px 0px 10px 357px;

}

#retail_buttons A {

	color: #FFFFFF;

	font-weight: bold;

	padding: 5px 10px;

	margin-right: 15px;

	display: inline;

	width: 80px;

	float: left;

	font-size: 10px;

	text-align: center;

}

#retail_buttons A:hover {

	text-decoration:none;

}

#retail_buttons A.retail_save {

	border: 0px;

	padding: 6px 11px;

}

#retail_col_divide {

	padding-left:10px;

}

.retail_col {

	float:left;

	width: 142px;

	margin-left: 10px;

	display: inline;

}

.retail_col2 {

	float:left;

	width: 297px;

	margin-left: 10px;

	display: inline;

}

.retail_preview A {

	float:left;

	width: 229px;

	display: inline;

	font-size: 11px;

	margin: 7px;

	font-family:Arial, Helvetica, sans-serif;

}

.retail_preview IMG {

	margin-bottom: 5px;

}

.retail_preview A:hover {

	text-decoration: none;

}

.retail_preview A:hover {

	text-decoration: none;

}
/* DATABASE TABS - SECONDARY NAVIGATION
-----------------------------------------------------------------------------
*/
#database_tabs_bar
{
	/*border-top: #586587 1px solid;
	background: url(../images/mainstyles_header.gif) #001447 repeat-x left -3px;*/
	float: left;
	width: 100%;
	list-style-type: none;
	height: 26px;
}
#database_tabs_bar UL
{
	margin: 5px 10px 0px;
	color: #ffffff;
	list-style-type: none;
}
#database_tabs_bar LI
{
	display: inline;
	font-size: 10px;
	float: left;
	margin: 1px 7px 0px 0px;
}
#database_tabs_bar LI A
{
	padding-right: 9px;
	padding-left: 9px;
	float: left;
	padding-bottom: 2px;
	color: #ffffff;
	padding-top: 0px;
	text-decoration: none;
}


#database_tabs_bar LI.lozenge A:hover
{
	color: #ffffff;
}
#database_tabs_bar LI.title
{
	/*border-right: #586587 1px solid;*/
	padding-right: 10px;
	padding-left: 0px;
	font-weight: bold;
	padding-bottom: 3px;
	text-transform: uppercase;
	padding-top: 1px;
}
/*
#database_tabs_bar LI.close {
	PADDING-RIGHT: 3px; PADDING-LEFT: 21px; BACKGROUND: url(../images/breadcrumb_remove.gif) no-repeat 10px 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #586587 1px solid; PADDING-TOP: 1px
}
#database_tabs_bar LI.noline.close {
	PADDING-LEFT: 11px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../images/breadcrumb_remove.gif) no-repeat left 3px
}
*/
#database_tabs_bar LI.close
{
	padding-right: 3px;
	padding-left: 21px;
	background: url(../images/arrow_up_orange.gif) no-repeat 10px 6px;
	padding-bottom: 3px;
	border-left: #586587 1px solid;
	padding-top: 1px;
}
#database_tabs_bar LI.noline.close
{
	padding-left: 11px;
	border-left-width: 0px;
	background: url(../images/arrow_up_orange.gif) no-repeat left 6px;
}
#database_tabs_bar LI.title
{
	margin-top: 0px;
}
#database_tabs_bar LI.close
{
	margin-top: 0px;
}
#database_tabs_bar LI.next
{
	margin-top: 0px;
}
#database_tabs_bar LI.prev
{
	margin-top: 0px;
}
#database_tabs_bar LI.title A
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
#database_tabs_bar LI.close A
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
#database_tabs_bar LI.next A
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
#database_tabs_bar LI.prev A
{
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
#database_tabs_bar LI.next
{
	padding-right: 8px;
	padding-left: 5px;
	background: url(../images/arrow_right.gif) no-repeat right 4px;
	padding-bottom: 3px;
	margin-right: 10px;
	padding-top: 1px;
}
#database_tabs_bar LI.prev
{
	padding-right: 5px;
	padding-left: 18px;
	background: url(../images/arrow_left.gif) no-repeat 10px 4px;
	padding-bottom: 3px;
	border-left: #586587 1px solid;
	margin-right: 0px;
	padding-top: 1px;
}
/* DISPLAY OPTIONS - OPTIONS
-----------------------------------------------------------------------------
*/
#display_options
{
	clear: left;
	display: none;
	padding-left: 10px;
	font-size: 10px;	
	border-top: #808aa3 1px solid;
	float: left;
	width: 920px;
	color: #ffffff;
	padding-top: 10px;
}
#display_options H3
{
	font-size: 14px;
	padding-bottom: 10px;
	margin: 0px 10px 10px 0px;	
	border-bottom: #808aa3 1px dashed;
}
#display_options H4
{
	font-size: 11px;
	margin-bottom: 5px;
	color: #ffffff;
}
#display_options_tab
{
	display: inline;
	font-weight: bold;
	float: right;
	width: 250px;
}
#display_options_tab DIV
{
	padding-right: 10px;
	padding-left: 5px;	
	padding-bottom: 5px;
	padding-top: 5px;
}
.tabdown#display_options_tab DIV
{
	background-position: right -100px;
}
#display_options_tab A
{
	padding-left: 15px;
	font-size: 10px;	
	float: right;
	color: #ffffff;
	line-height: 10px;
}
.tabdown#display_options_tab A
{
	background-position: left -100px;
}
#display_options_tab A:hover
{
	background-position: left -50px;
	text-decoration: none;
}
.tabdown#display_options_tab A:hover
{
	background-position: left -150px;
}
/* DISPLAY OPTIONS - COLUMNS
-----------------------------------------------------------------------------
*/
.display_options_col
{
	padding-right: 10px;
	display: inline;
	float: left;
}
.col2
{
	width: 450px;
}
.col3
{
	width: 296px;
}
.col4
{
	width: 215px;
}
.col6
{
	width: 137px;
}

.col1
{
	width: 900px;
}

/* Market */
.col7
{
	width: 180px;
}

.col_Rline
{
	/*border-left: #808aa3 1px dashed; */
	padding-right: 2px;
	margin-right: 7px;
}

/* DISPLAY OPTIONS - BUTTONS
-----------------------------------------------------------------------------
*/

#display_options_buttons A
{
 	padding-right: 10px;
	border: #808aa3 1px solid;
	display: inline;
	padding-left: 10px;
	font-weight: bold;
	font-size: 10px;	
	border-right: #808aa3 1px solid;
	border-top: #808aa3 1px solid;
	border-left: #808aa3 1px solid;
	border-bottom: #808aa3 1px solid;	
	float: left;
	padding-bottom: 5px;
	width: 80px;
	color: #ffffff;
	margin-right: 15px;
	padding-top: 5px;
	text-align: center;
}
#display_options_buttons
{
	padding-right: 0px;
	/*border-top: #808aa3 1px dashed;*/
	margin-top: 5px;
	padding-left: 345px;
	float: left;
	padding-bottom: 7px;
	width: 558px;
	padding-top: 7px;
}
#display_options_buttons A.save_button
{
	border-top-width: 0px;
	padding-right: 11px;
	padding-left: 11px;
	border-left-width: 0px;	
	border-bottom-width: 0px;
	padding-bottom: 6px;
	padding-top: 6px;
	border-right-width: 0px;
}

.display_options_divider
{
	clear: both;
	margin-bottom: 10px;
	overflow: hidden;
	width: 910px;
	border-bottom: #808aa3 1px dashed;
	height: 10px;
}
.display_options_col.col_line 
{
	padding-right: 2px;
	margin-right: 7px;
	/*border-right: 1px dashed #808AA3;*/
}

/* RATINGS
-----------------------------------------------------------------------------
*/

.stars, UL.stars {
	width: 70px;
	height: 12px;
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
}
A.stars {
	display: block;
	text-indent: -10000px;
	font-size: 1px;
	line-height: 1px;
	outline: none;
	margin: 1px 0px 3px;
}
.stars .star, .stars LI.star  {
	float: left;
	width: 14px;
	height: 12px;
	list-style: none;
	text-indent: -10000px;
	font-size: 1px;
	line-height: 1px;
	cursor: pointer;
	cursor: hand;
	padding: 0;
	margin: 0;
	background-image: none;
	background-position: none;
	clear: none;
}
A.star_text:link, A.star_text:visited, A.star_text:active {
	clear: left;
	padding-top: 2px;
	font-size: 10px;
	text-align: center;
	font-weight: normal;
}
A.star_text:hover {
	text-decoration: none;
}
#pagetitle P {
	margin: 5px 0px 0px;
	font-size: 10px;
	font-weight: bold;
}
.stars_0 {
	background-position: left top;	
}
.stars_0_5 {
	background-position: left -12px;
}
.stars_1 {
	background-position: left -24px;
}
.stars_1_5 {
	background-position: left -36px;
}
.stars_2 {
	background-position: left -48px;
}
.stars_2_5 {
	background-position: left -60px;
}
.stars_3 {
	background-position: left -72px;
}
.stars_3_5 {
	background-position: left -84px;
}
.stars_4 {
	background-position: left -96px;
}
.stars_4_5 {
	background-position: left -108px;
}
.stars_5 {
	background-position: left -120px;
}
.stars_big {
	margin-bottom: 10px;
	text-align: center;
}
.stars_big .stars, .stars_big UL.stars {
	width: 125px;
	height: 23px;
}
.stars_big UL.stars {
	margin: 0px auto;
}
.stars_big P {
	text-align: center;
	font-size: 11px;
}
.stars_big .stars .star, .stars_big .stars LI.star  {
	width: 25px;
	height: 23px;
}
.stars_big .stars_0  {
	background-position: left top;	
}
.stars_big .stars_0_5  {
	background-position: left -23px;
}
.stars_big .stars_1  {
	background-position: left -46px;
}
.stars_big .stars_1_5  {
	background-position: left -69px;
}
.stars_big .stars_2  {
	background-position: left -92px;
}
.stars_big .stars_2_5  {
	background-position: left -115px;
}
.stars_big .stars_3  {
	background-position: left -138px;
}
.stars_big .stars_3_5  {
	background-position: left -161px;
}
.stars_big .stars_4  {
	background-position: left -184px;
}
.stars_big .stars_4_5  {
	background-position: left -207px;
}
.stars_big .stars_5  {
	background-position: left -230px;
}

.stars_left {
	float: left;
	width: 200px;
}
.home_ratings {
	height: 15px;
}
.home_ratings A {
	float: left;
	width: 190px;
}
.home_ratings A.stars {
	float: right;
	width: 70px;
}
#iReport_tools H2 {
	clear: left;
}

/* TAG CLOUD
-----------------------------------------------------------------------------
*/
/* Standard tag cloud.. */
ul#tag-cloud  
{
	line-height: 1.2;
	margin: 10px auto;
	overflow: hidden;
	padding: 10px 0;
	text-align: center;
}
#tag-cloud li
{
	display: inline; 
	list-style: none;
}

/* Alternative tag cloud.. */
#tag-cloud.alt li
{
	display: block;
	float: left;
	width: 180px;
}

/* Common tag cloud rules.. */
#tag-cloud li a
{
	margin: 15px; 
	text-decoration: none;
}
#tag-cloud li a:hover
{
	text-decoration: underline;
}
#tag-cloud .tag-one
{
	color: #001447;
	font-size: 37px;
}
#tag-cloud .tag-two
{
	color: #1a2c5a;
	font-size: 32px;
}
#tag-cloud .tag-three
{
	color: #414f76;
	font-size: 27px;
}
#tag-cloud .tag-four
{
	color: #6c7794;
	font-size: 22px;
}
#tag-cloud .tag-five
{
	color: #919ab0;
	font-size: 17px;
}
#tag-cloud .tag-six
{
	color: #acb2c3;
	font-size: 12px;
}

/* ADVANCED SEARCH
-----------------------------------------------------------------------------
*/

.advancedsearch_background {
	padding: 5px;
	margin-bottom: 15px;
}
.advancedsearch_background P {
	margin:0;
}
.sccRowTree .selected A {
	background: none;	
}

/* TAXONOMY BLURB 
-----------------------------------------------------------------------------
*/
#pagetitle h2.taxonomy_blurb {
    margin-top: 10px;
    padding-top: 10px;
}

/* NEW FIND INFO
-----------------------------------------------------------------------------
*/
.findinfo {
      list-style-type: none;
      position: absolute;
      width: 192px;
}
.findinfo LI A {
      padding: 12px 0px 0px 40px;
      display: block;
      height: 25px;
      font-size: 10px;
      font-weight: bold;
}

.findinfo LI A:hover {
      text-decoration: none;
}
.findinfo_overview, .findinfo_advanced, .findinfo_company, .findinfo_cloud {
      background-repeat: no-repeat;
}
.findinfo_overview {
      background-position: left 0px;
}
.findinfo_advanced {
      background-position: left -37px;
}
.findinfo_company {
      background-position: left -74px;
}
.findinfo_cloud {
      background-position: left -111px;
}
.findinfo_selected .findinfo_overview {
      background-position: -265px 0px;
}
.findinfo_selected .findinfo_advanced {
      background-position: -265px -37px;
}
.findinfo_selected .findinfo_company {
      background-position: -265px -74px;
}
.findinfo_selected .findinfo_cloud {
      background-position: -265px -111px;
}
.findinfo LI.findinfo_selected A {
      color: #FFFFFF;
}
.fullindex_col2 IMG {
      border: 0;  
}

/* CSS to hide extract and print options */
#extract_options, #print_options {
	display: none;
}

/* WELCOME ICONS
-----------------------------------------------------------------------------
*/
UL.welcome_icons {
	list-style: none;
	float: left;
	width: 100%;
	clear: both;
}
.welcome_icons LI {
	float: left;
	width: 70px;
	font-size: 9px;
	line-height: 11px;
	text-align: center;
	display: inline;
	padding: 45px 13px 0px 13px;
	display: inline;
}
.welcome_icons LI A {
	padding-top: 50px;
	outline:none;
}
.welcome_icons LI A:hover {
	text-decoration: none;
}
#welcome_icons_index, #welcome_icons_advanced, #welcome_icons_search {
	background-repeat: no-repeat;
}
#welcome_icons_index {
	background-position: center top ;
}
#welcome_icons_advanced {
	background-position: center -75px ;
}
#welcome_icons_search {
	background-position: center -150px ;
}




/* Charting Page */
#column_other_chartnav {
	position: relative;
	float: left;
	clear: left;
	width: 150px;
	margin-right: 5px;  /* Changed from 15px to 5px */
	display: inline;
}

#column_other_chartnav .refinesearch {
	padding: 0px;
}

#column_other_chartnav .refinesearch LI {
	margin-bottom: 1px;
	font-weight: bold;
}

#column_other_chartnav .refinesearch UL {
	margin-bottom: 15px;
}

#column_other_chartnav .refinesearch LI A {
	padding: 3px 5px;
}

#column_other_chartnav .refinesearch H2 {
	font-size: 11px;
	line-height: 12px;
	margin-bottom: 3px;
}


/*MAIN CHARTING AREA, INCLUDES RIGHTSIDE SELECTION AS WELL */  
#maincontent_chart {
	float: left;
	width: 762px;	
	display: inline;
	margin: 0 0 0 0;
}

.analyzeresults_col1 {
	float: left;
	width: 552px;	
}

.analyzeresults_col2 {
	float: right;
	width: 200px;
	padding-right:2px;
	margin-right:0px;
}


#analyzeresults_filter {
	font-size: 11px;
	line-height: 14px;
}

#analyzeresults_filter H1 {
	display: block;
	font-size: 11px;
	font-weight: bold;
	margin: 0px 0px 5px 0px;

}

#analyzeresults_filter H2 {
	font-size: 10px;
	padding: 5px 0px 3px 17px;
	margin: 0px;
	border: 0px;
}

#analyzeresults_filter UL {
	list-style-type: none;
	font-size: 10px;
}

#analyzeresults_filter LI {
	padding-left: 17px;
	margin-bottom: 2px;
}


.button_right_chart {
	width: 120px;
	font-size: 11px;
	line-height: 12px;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
	height: 30px;
	float:right;
	margin-top:5px;
}
.button_right_chart a:link, .button_right_chart a:active, .button_right_chart a:visited {
	width: 120px;
	display: block;
	padding: 4px 0px 4px 0px;
	text-decoration: none;
	text-indent: 10px;
}

.button_right_chart a:hover {
	text-decoration: none;
}

.PlotChartMessage
{
    display:none;
    float:right; 
    font-size:11px; 
    font-weight:normal;
    color:Black;
}