﻿/*.TreeView{ 	
	border-top:solid 1px #BFC4D1;

}*/

.TreeNode 
{ 
  font-family: Verdana; 
  font-size: 11px; 
  padding-top:0px;
  padding-bottom:1px;
  padding-left: 0px; 
  padding-right: 0px;   
  color:Black;  
}
.NodeSelected
{
	font-family: Verdana; 
  font-size: 11px; 
  padding-top:0px;
  padding-bottom:1px;
  padding-left: 0px; 
  padding-right: 0px;   
  color:White; 
  background-color:#DC671E;
}

.HoverTreeNode
{ 
  font-family: Verdana; 
  font-size: 11px; 
  padding-top:0px;
  padding-bottom:1px;
  padding-left: 0px; 
  padding-right: 0px;   
  color:Black;  
}
.TreeNodebold 
{ 
  font-family: Verdana; 
  font-size: 11px; 
  font-weight:bold;
  color:#1E3267;
  padding-top:0px;
  padding-bottom:1px;
  padding-left: 0px; 
  padding-right: 0px; 
  cursor:pointer;
}

.comboBox 
{ 
  border: 1px solid #A6A7AA; 
  background-color: white; 
}

.comboBoxHover
{ 
  border: 1px solid #555555; 
  background-color: white; 
}

.comboDropDown 
{ 
  border: 1px solid #868686; 
  background-color: white; 
  padding: 1px;
  padding-right: 0px;
  cursor: default;
}

.comboTextBox
{
  border: 0px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 11px; 
}

.comboItem
{
  font-family: Verdana; 
  font-size: 11px; 
  padding: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.comboItemHover
{
  background-color: #B2B4BF; 
  background-image: url(images/comboItemBg.gif);
  font-family: Verdana; 
  font-size: 11px; 
  border: 1px solid #DBCE99;
  padding: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}