<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CountryComparisonImage.aspx.cs" 
Inherits="Datamonitor.PremiumTools.Generic.Results.CountryComparisonImage" %>
<%@ Register TagPrefix="dotnet" Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Chart</title>
</head>
<body>
    <form id="form1" runat="server">
    <asp:Label ID="ChartTitle" Font-Bold="true" runat="server"></asp:Label>
     
      <dotnet:Chart ID="SampleChart" runat="server" Visible="true">                    
             
        </dotnet:Chart>
    </form>
</body>
</html>
