/* HTML STYLES
-----------------------------------------------------------------------------
*/
BODY {
	background: #BFC4D1 url(../images/background_main.gif) repeat-x;
	font-size: 11px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
}
A:visited, A:active, A:link {
	color: #1E3267;
}
A:hover {
	color: #DC671E; 
}
.hr, .hr2  { 
	border-bottom: 1px dashed #BFC4D1;
}



/* WRAPPER
-----------------------------------------------------------------------------
*/
#wrapper {
	background: #FFFFFF;
}



/* HEADER
-----------------------------------------------------------------------------
*/
#header {
	background: #001447 url(../images/background_header.gif) repeat-x;
	color: #FFFFFF;
}
#header a.orbys {
	background: url(../images/header_logo.gif) no-repeat left top;
	display: block;
	height: 22px;
	left: 11px;
	overflow: hidden;
	position: absolute;
	text-indent: -999em;
	top: 10px;
	width: 362px;
}
#header.sourcing a.orbys
{
	background: url(../images/header_logo_orbys.gif) no-repeat left top;
	height: 38px;
	width: 362px;
}
#header_nav {
	background: url(../images/header_nav.gif) no-repeat left bottom;
	padding-top: 57px;
	/*position: absolute;*/

}
#header_search A IMG {
	background: url(../images/header_search.gif) no-repeat right 1px;
}
#header_search A:hover IMG {
	background: url(../images/header_search.gif) no-repeat right -34px;
}
#header_search P {
	background: url(../images/header_search.gif) no-repeat left 1px;
}


/* TABS
-----------------------------------------------------------------------------
*/
#tabs a {
	background: url(../images/header_tabs.gif) no-repeat;
	border-right: 1px solid #5e6c8b;
}
li.tab_myprofile_icon {
	background: url(../images/header_user.gif) no-repeat 15px 5px;
}
#tabs a#tab_myprofile {
	color: #959db2;
	background: url(../images/header_downarrow.gif) no-repeat right -20px;
}
#tabs a#tab_myprofile:hover {
	color: #FFFFFF;
}
#myprofile div {
	background: #ecf0f5;
}
#myprofile div {
	color: #001447;
	border-bottom: 1px solid #BFC4D1;
	font-size: 10px;
}
#myprofile div A {
	border-left: 1px solid #BFC4D1;
}
#myprofile div A:hover {
	color: #DC671E;
}



/* BREADCRUMB & STATUS BAR
-----------------------------------------------------------------------------
*/
.statusbar {
	background: #ecf0f5;
}
.breadcrumb UL {
	color: #DC671E;
}
.breadcrumb {
	background: #ecf0f5 url(../images/line.gif) top left no-repeat;
}
#breadcrumb_title H1 {
	color: #DC671E;
}
.breadcrumb_arrow A:visited, .breadcrumb_arrow A:active, .breadcrumb_arrow A:link, .toplevel {
	background: url(../images/arrow_right.gif) no-repeat right 3px;
}
.breadcrumb_arrow A:hover {
	background: url(../images/arrow_left.gif) no-repeat right 3px;
}
.breadcrumb_arrowback {
	background: url(../images/arrow_left.gif) no-repeat left 3px;
}
.remove {
	border-left: 1px solid #BFC4D1;
	background: url(../images/breadcrumb_remove.gif) no-repeat 10px 2px;
}
.userlinks {
	border-left: 1px solid #BFC4D1;
}
.didyoumean {
	color: #001447;
}



/* MY SAVED SEARCHES MENU
-----------------------------------------------------------------------------
*/
/*
#menu li {
	background: #808AA3 url(../images/background_savedsearches.gif) no-repeat left bottom;
}
#menu li a {
	color: #FFFFFF;
}
#menu ul {
	background: #808AA3;
	border-left: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}
#menu ul li a {
	border-top: solid 1px #6f7b97;
}
#menu ul a:hover {
	background: #6f7b97;
}
#menu ul li a h2 {
	background: url(../images/menu_homeicon.gif) no-repeat right top;
}
*/


/* GENERAL LAYOUT
-----------------------------------------------------------------------------
*/
#column_refine {
	background: url(../images/refine_topleft.gif) top right no-repeat;
}
#column_refine_right {
	background: url(../images/refine_topright.gif) top left no-repeat;
}
#column_refine2 {
	background: #ECF0F5;
}
#maincontent2 {
	border-left: 1px solid #BFC4D1;
}



/* PAGE TITLE
-----------------------------------------------------------------------------
*/
#pagetitle {
	border-bottom: 1px #BFC4D1 solid;
}
#pagetitle H1 {
	color: #DC671E;
}
#pagetitle H2 {
	color: #001447;
}
#pagetitle H3 {
	color: #ACB2C3;
}
#pagetitle H3 A {
	background: url(../images/arrow_left.gif) no-repeat left 3px;
}



/* BROWSE STYLES
-----------------------------------------------------------------------------
*/
.browse_styles H1 A:link, .browse_styles H1 A:active, .browse_styles H1 A:visited {
	background: #001447 url(../images/mainstyles_header.gif) right -50px no-repeat;
	color: #FFFFFF;
}
.browse_styles H1 A:hover {
	background: #001447 url(../images/mainstyles_header.gif) right top no-repeat;
}
.browse_styles H3 {
	color: #ACB2C3;
	border-bottom: #D9E1EC solid 1px;
}
.browse_styles .bucket_full H3 {
	border-bottom: 0px;
}
.browse_styles H4 {
	color: #DC671E;
	border-bottom: #D9E1EC solid 1px;
}
.browse_styles H5 {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
}
.browse_styles H5 A:link, .browse_styles H5 A:active, .browse_styles H5 A:visited  {
	color: #FFFFFF;
}
.browse_styles UL {
	color: #ACB2C3;
}
.browse_styles .bucket_full UL {
	border-top: #D9E1EC solid 1px;
}
.browse_styles LI {
	border-bottom: #D9E1EC solid 1px;
	background: url(../images/mainstyles_bullet.gif) 7px 10px no-repeat;
}



/* BROWSE TABLES
-----------------------------------------------------------------------------
*/
.browse_table TD {
	border-bottom: #D9E1EC solid 1px;
}
.fill TD {
	background: #ECF0F5;	
}
.browse_table TH {
	background: #BFC4D1;	
	color: #303030;
}
.arrow_none A:link, .arrow_none A:active, .arrow_none A:visited, .arrow_up A:link, .arrow_up A:active, .arrow_up A:visited, .arrow_down A:link, .arrow_down A:active, .arrow_down A:visited {
	color: #FFFFFF;
}
.arrow_none A:hover, .arrow_down A:link, .arrow_down A:active, .arrow_down A:visited {
	background: url(../images/arrow_down.gif) no-repeat right 6px;
}
.arrow_down A:hover, .arrow_up A:link, .arrow_up A:active, .arrow_up A:visited {
	background: url(../images/arrow_up.gif) no-repeat right 6px;
}
.arrow_up A:hover {
	background: url(../images/arrow_down.gif) no-repeat right 6px;
}

.browse-table-mod .action.delete a
{
	background: url(../images/savedsearch_delete.gif) no-repeat top left;
}
.browse-table-mod .action.rss a 
{
	background: url(../images/rss.gif) no-repeat top left;
}
.browse-table-mod .action.rss-inactive a 
{
	background: url(../images/rss_light.gif) no-repeat top left;
}

a#rss-save
{
	background: url(../images/rss.gif) no-repeat top right;
}



/* PAGE NUMBERS
-----------------------------------------------------------------------------
*/
.search_pagesnumbers {
	border-top: #BFC4D1 solid 1px;
	border-bottom: #BFC4D1 solid 1px;
}
.search_pagesnumbers_right {
	color: #ACB2C3;
}



/* OTHER STYLES
-----------------------------------------------------------------------------
*/

.other_styles {
	border-left: 1px #BFC4D1 solid;
}
.other_styles H1 {
	color: #001447;
}
.other_styles H2 {
	color: #DC671E;
	border-bottom: 1px #D9E1EC solid;
}
.other_bullets LI {
	background: url(../images/mainstyles_bullet.gif) no-repeat 2px 13px;
}


/* FORMSTYLES
-----------------------------------------------------------------------------
*/
.formstyle {
	border: solid 1px #BFC4D1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.formstyle2 {
	border: solid 1px #BFC4D1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.formstyle3 {
	border: solid 1px #BFC4D1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#welcome_form {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
}
.formstyle4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top: 1px solid #001447;
	border-bottom: 1px solid #001447;
}
.formstyle5 {
	border: 1px solid #BFC4D1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}



/* MISC
-----------------------------------------------------------------------------
*/
.excel A {
	background: url(../images/tool_excel2.gif) no-repeat left 2px;
}
.search_company {
	background: #ECF0F5;
	color: #DC671E;
	border: 1px solid #BFC4D1;
}
.alert_edit a:link, .alert_edit a:visited, .alert_edit a:active {
	color: #ACB2C3;
}
.textcolor {
	color: #DC671E;
}



/* LEFT HAND MENU STYLES
-----------------------------------------------------------------------------
*/

#refineleft {
	background: #ECF0F5 url(../images/refine_bottomright.gif) no-repeat right bottom;
}
#refineright {
	background: #ECF0F5 url(../images/refine_bottomleft.gif) no-repeat left bottom;
}
.refinesearch H1 {
	color: #FFFFFF;
	background: url(../images/refine_h1background.gif) bottom left no-repeat;
	border-top: #FFFFFF solid 1px;
}
.refinesearch H2 {
	color: #001447;
}
.refinesearch LI A:hover, .selected A:link, .selected A:visited, .selected A:active {
	color: #FFFFFF;
	background: #E58D56 url(../images/refine_selected.gif) repeat-x;
}

.level1_arrow {
	background: url(../images/arrow_left.gif) no-repeat left 5px;
}
#column_other .refinesearch H2 {
	color: #DC671E;
}
.column_other_leave {
	background: url(../images/refine_leavemenu.gif) no-repeat right 6px;
}



/* FOOTER
-----------------------------------------------------------------------------
*/
#footer {
	border-top: solid 1px #D9E1EC;
	background-color: #FFFFFF;
}
#footer_right {
	color: #BFC4D1;
}



/* OVERVIEW - LAYOUT
-----------------------------------------------------------------------------
*/
.bucket_blue {
	background: #ECF0F5;
	border-left: 1px solid #BFC4D1;
	border-right: 1px solid #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
}
#market_data {
	scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}



/* MY TOOLS HOME PAGE
-----------------------------------------------------------------------------
*/
.mytools {
	background: url(../images/background_mytools.gif) 50% top repeat-y;
}



/* ALERTS & ADVANCED SEARCH
-----------------------------------------------------------------------------
*/
.alert_tree {
	border: 1px solid #D9E1EC;
	scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
}
.alert_tips {
	background: #ecf0f5 url(../images/alert_help.gif) right top no-repeat;
	border: 1px solid #D9E1EC;
}
.alert_keyword {
	border-left: 1px solid #D9E1EC;
	border-right: 1px solid #D9E1EC;
	background: url(../images/taxonomy_background.gif) -20px top repeat-x;
}
.advanced_table TD {
	border-bottom: #D9E1EC solid 1px;
}



/* ADVANCED SEARCH TOGGLE BOX
-----------------------------------------------------------------------------
*/
#advanced_criteria P {
	color: #DC671E;
}
#advanced_criteria A {
	background: url(../images/breadcrumb_remove.gif) no-repeat right 3px;
}



/* WELCOME PAGE
-----------------------------------------------------------------------------
*/
.welcome_left h1, .welcome_right h1 {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
}
.welcome_left h4, .welcome_right h4 {
	color: #DC671E;
}
.welcome_bullets LI, .highslide-body LI {
	background: url(../images/mainstyles_bullet.gif) 7px 5px no-repeat;
}
.highslide-body LI {
	background: url(../images/mainstyles_bullet.gif) 7px 4px no-repeat;
}



/* BUTTON
-----------------------------------------------------------------------------
*/
.button_orange, .button_right {
	color: #FFFFFF;
}
.button_orange {
	background: url(../images/button_left2.gif) no-repeat right top;
}
.button_clear {
	background: url(../images/button_left2.gif) no-repeat right top;
}
.button_right {
	background: url(../images/button_left.gif) no-repeat left top;
}
.button_orange a:link, .button_orange a:active, .button_orange a:visited {
	color: #FFFFFF;
}
.button_clear a:link, .button_clear a:active, .button_clear a:visited {
	color: #FFFFFF;
}
.button_right a:link, .button_right a:active, .button_right a:visited {
	color: #FFFFFF;
}
.button_orange a:link, .button_orange a:active, .button_orange a:visited {
	background: url(../images/button_right2.gif) no-repeat left top;
}
.button_clear a:link, .button_clear a:active, .button_clear a:visited {
	background: url(../images/button_right2.gif) no-repeat left top;
}
.button_right a:link, .button_right a:active, .button_right a:visited {
	background: url(../images/button_right.gif) no-repeat right top;
}
.button_orange a:hover {
	background-position: left -30px;
}
.button_clear a:hover {
	background-position: left -30px;
}
.button_right a:hover {
	background-position: right -30px;
}



/* REGISTRATION PAGES - CONTACTS
-----------------------------------------------------------------------------
*/
.registration_contacts H1 {
	color: #DC671E;
	border-top: solid 1px #D9E1EC;
}
.login_box {
	border-left: 1px solid #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
	border-right: 1px solid #BFC4D1;
}


/* 
----------------------------------------------------------------------------------------------------------------------------------------
*/



/* HIGHSLIDE POPUP
-----------------------------------------------------------------------------
*/
.highslide-loading {
	border: 1px solid #001447;
    background-color: #FFFFFF;   
    background-image: url(../images/popup/loader.white.gif);
}
.highslide-wrapper {
	background: #FFFFFF;
}
.highslide-header {
	background: #001447 url(../images/popup_header.gif) repeat-x;
}
.highslide-header a:link, .highslide-header a:active, .highslide-header a:visited {
	color: #9DA4b8;
}
.highslide-header a:hover {
	color: #9da4b8;
}
.highslide-header H1 {
	color: #FFFFFF;
}
.popup_icon_save {
	background: url(../images/popup_icon_save.gif) no-repeat left 24px;
}
.popup_icon_home {
	background: url(../images/popup_icon_home.gif) no-repeat left 24px;
}
.popup_icon_ask {
	background: url(../images/popup_icon_ask.gif) no-repeat left 24px;
}
.popup_icon_alert {
	background: url(../images/popup_icon_alert.gif) no-repeat left 24px;
}
.popup_icon_clip {
	background: url(../images/popup_icon_clip.gif) no-repeat left 24px;
}
.highslide-close a {
	background: url(../images/popup_close.gif) no-repeat 0px 2px;
}
.highslide-move a {
	background: url(../images/popup_move.gif) no-repeat 0px 2px;
}



/* SPRY WIDGET - TAB PANELS
-----------------------------------------------------------------------------
*/
.TabbedPanelsTabGroup {
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
}
.TabbedPanelsTab {
	border-right: 1px #808AA3 solid;
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
	color: #808AA3;
}
.TabbedPanelsTabSelected {
	color: #FFFFFF;
}


/* SPRY WIDGET - MENU BAR
-----------------------------------------------------------------------------
*/
ul.MenuBarHorizontal li a {
	border-left: 1px solid #5e6c8b;
}
ul.MenuBarHorizontal a.MenuBarItemSubmenu {
	background: url(../images/header_downarrow.gif) no-repeat right -21px;
}
ul.MenuBarHorizontal a:link, ul.MenuBarHorizontal a:active, ul.MenuBarHorizontal a:visited  {
	color: #959db2;
}
.savedsearches_myhome {
	background: url(../images/savedsearch_homeicon.gif) no-repeat 133px 0;	
}
ul.MenuBarHorizontal a:hover {
	color: #FFFFFF; 
}
ul.MenuBarHorizontal a.MenuBarItemSubmenuHover {
	background: url(../images/header_downarrow.gif) no-repeat right 4px    ;
	color: #FFFFFF;
}
ul.MenuBarHorizontal ul {
	background: url(../images/savedsearch_background.png);
	font-size: 9px;
}
ul.MenuBarHorizontal ul li {
	border-top: 1px solid #46547a;
}



/* SPRY WIDGET - ACCORDIAN
-----------------------------------------------------------------------------
*/
.Accordion {
	border-bottom: 1px solid #D9E1EC;
	border-left: 1px solid #D9E1EC;
	border-right: 1px solid #D9E1EC;
}
.AccordionPanelTab, .AccordionPanelTabTop {
	background: url(../images/taxonomy_background.gif) top left repeat-x;
}
.AccordionPanelOpen .AccordionPanelTab, .AccordionPanelOpen .AccordionPanelTabTop {
	background: url(../images/taxonomy_background2.gif) top left repeat-x;
}
.AccordionPanelTabHover {
	color: #DC671E;
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color: #DC671E;
}



/* ACCORDIAN
-----------------------------------------------------------------------------
*/
.sccRow {
	border-right: #d9e1ec 1px solid;
	border-left: #d9e1ec 1px solid;
}
.sccRowTree {
	border-bottom: #d9e1ec 1px solid
}
.sccHeaderRow {
	border-left: #d9e1ec 1px solid;
	border-right: #d9e1ec 1px solid;
	background: url(../images/taxonomy_background2.gif) repeat-x left top;
}
.shut .sccHeaderRow {
	background: url(../images/taxonomy_background.gif) repeat-x left top;
}
.sccDisplayName:hover {
	color: #dc671e;
}
.listing {
	border: #d9e1ec 1px solid;
}
.item
{
	
}
.item SPAN.searchMatch {
	background-color: #d9e1ec;
}
.disabled .sccDisplayName:hover {
	color: #BFC4D1;
}
.disabled .sccHeaderRow {
	border-left: #d9e1ec 1px solid;
	border-right: #d9e1ec 1px solid;
	background: url(../images/taxonomy_background.gif) repeat-x right top;
	color: #BFC4D1;
}



/* 
----------------------------------------------------------------------------------------------------------------------------------------
*/



/* iREPORT - LAYOUT
-----------------------------------------------------------------------------
*/
#iReport_content, #iReport_toc {
	background: url(../images/background_mytools.gif) repeat-y 574px top;
}




/* iREPORT - NAVIGATION
-----------------------------------------------------------------------------
*/
#iReport_navtop {
	border-bottom: 1px solid #BFC4D1;
}
#iReport_navbot {
	border-top: 1px solid #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
}
.iReport_jumpmenu {
	font-family: Arial, Helvetica, sans-serif;
	border: solid 1px #BFC4D1;
}



/* iREPORT  STYLES
-----------------------------------------------------------------------------
*/
.iReport_styles H2 {
	border-top: 2px solid #BFC4D1;
}
.iReport_bullets LI {
	background: url(../images/bullet.gif) no-repeat 2px 3px;
}



/* iREPORT - FIGURE AND TABLES
-----------------------------------------------------------------------------
*/
.iReport_figure {
	border-top: 0px solid #D9E1EC;
}
.iReport_styles TD {
	border-bottom: 1px solid #D9E1EC;
}
.iReport_styles TH, .headers TD {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
}
.shadedrow TD {
	background: #ECF0F5;
}
.second_header TD {
	background: #BFC4D1;
	color: #FFFFFF;
}



/* iREPORT - EXTRACT BAR
-----------------------------------------------------------------------------
*/
.iReport_extract {
	/*background: #dfe1e8 url(../images/iReport_extract_over.gif) repeat-x left bottom;*/
	color: #001447;
	border-top: 1px solid #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
}
.iReport_extract li {
	border-right: 1px solid #BFC4D1;
}
.iReport_extract a:hover {
	background: #dfe1e8;
	color: #1E3267;
}
.iReport_extract_section {
	color: #BFC4D1;
	border-bottom: 1px dashed #BFC4D1;
}



/* iREPORT - TOOLS PANEL
-----------------------------------------------------------------------------
*/
#iReport_tools H1 {
	color: #DC671E;
}
.tool_ask {
	background: url(../images/tool_ask.gif) no-repeat 0px 8px;
}
.tool_cart {
	background: url(../images/tool_cart.gif) no-repeat 0px 8px;
}
.tool_clip {
	background: url(../images/tool_clip.gif) no-repeat 0px 8px;
}
.tool_email {
	background: url(../images/tool_email.gif) no-repeat 0px 8px;
}
.tool_excel {
	background: url(../images/tool_excel2.gif) no-repeat 0px 8px;
}
.tool_extract {
	background: url(../images/tool_extract.gif) no-repeat 0px 8px;
}
.tool_pdf {
	background: url(../images/tool_pdf.gif) no-repeat 0px 8px;
}
.tool_powerpoint {
	background: url(../images/tool_powerpoint.gif) no-repeat 0px 8px;
}
.tool_print {
	background: url(../images/tool_print.gif) no-repeat 0px 8px;
}
.tool_word {
	background: url(../images/tool_word.gif) no-repeat 0px 8px;
}


/* PRODUCTSCAN - TABS
-----------------------------------------------------------------------------
*/
#productscan_tabs {
	border-bottom: 5px #001447 solid;
}
#productscan_tabs a {
	color: #001447;
	border-right: 1px solid #FFFFFF;
	background: #D9E1EC;
}
#productscan_tabs a.selected {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
}


/* PRODUCTSCAN - REPORT VIEW
-----------------------------------------------------------------------------
*/
.productscan_item H1 {
	border-top: 1px solid #D9E1EC;
	border-bottom: 1px solid #D9E1EC;
}



/* REFINE CHART BOX
-----------------------------------------------------------------------------
*/
.refinechart {
	border-bottom: 1px solid #D9E1EC;
}
.refinechart_col {
	border-right: 1px dashed #D9E1EC;
}
.refinechart_button {
	border-top: 1px dashed #D9E1EC;
}



/* PRODUCTSCAN OPTIONS
-----------------------------------------------------------------------------
*/
#pagetitle H3 .productscan_next A {
	background: url(../images/arrow_right.gif) no-repeat right 3px;
}


/* POWER SEARCH
-----------------------------------------------------------------------------
*/
.productscan_powersearch{
	background: url(../images/powersearch_background.gif) repeat-y top right;
	border-left: 1px solid #BFC4D1;
}
.productscan_powersearch H1, #column_other H5, .marketdata_search H1 {
	color: #DC671E;
	border-bottom: 1px solid #BFC4D1;
}
.productscan_powersearch H2 , .marketdata_search H2{
	color: #001447;
}
.productscan_powersearch #advanced_criteria P{
	border-top: 1px dashed #D9E1EC;
}

.powersearch_tree {
	border: 0px solid #D9E1EC;
	scrollbar-face-color: #BFC4D1;
	scrollbar-shadow-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	scrollbar-track-color: #FFFFFF;
	scrollbar-arrow-color: #FFFFFF;
	overflow-x:hidden;
	overflow-y:auto;
}
.productscan_box {
	background: #ECF0F5;
	border: 1px solid #BFC4D1;
}
.productscan_box A:link, .productscan_box A:visited, .productscan_box A:active {
	color: #DC671E;
}
.productscan_box H3 {
	color: #001447;
}



/* BACKGROUND
-----------------------------------------------------------------------------
*/
.background_savedsearch {
	background: url(../images/mytool_searches.gif) no-repeat top left;
}
.background_alerts {
	background: url(../images/mytool_alerts.gif) no-repeat top left;
}
.background_clip {
	background: url(../images/mytool_clip.gif) no-repeat top left;
}
.background_ask {
	background: url(../images/mytool_ask.gif) no-repeat top left;
}
.background_users {
	background: url(../images/mytool_users.gif) no-repeat top left;
}
.background_register {
	background: url(../images/reg_register.gif) no-repeat top left;
}
.background_access {
	background: url(../images/reg_access.gif) no-repeat top left;
}
.background_icon_delete {
	background: url(../images/savedsearch_delete.gif) no-repeat top left;
	/* Don't need this as a class on an <img> - should be on the containing <a> */
	/*display: block;
	height: 15px;
	width: 15px;*/
}
.background_info {
	background: url(../images/reg_info.gif) no-repeat top left;
}
.background_country {
	background: url(../images/mytool_countrystatistics.gif) no-repeat top left;
}
.background_productscan {
	background: url(../images/mytool_productscan.gif) no-repeat top left;
}
.background_pharmavitae {
	background: url(../images/mytool_pharmavitae.gif) no-repeat top left;
}
.background_retaildatabase {
	background: url(../images/mytool_retaildatabase.gif) no-repeat top left
}
.background_pvexplorer {
	background: url(../images/mytool_pharmavitae.gif) no-repeat top left;
}
.background_diseasefocus {
	background: url(../images/mytool_diseasefocus.gif) no-repeat top left;
}
.background_productlaunch {
	background: url(../images/mytool_productlaunch.gif) no-repeat top left;
}
.background_isv {
	background: url(../images/mytool_isv.gif) no-repeat top left;
}
.background_cards {
	background: url(../images/mytool_cards.gif) no-repeat top left;
}
.background_icd {
	background: url(../images/mytool_icd.gif) no-repeat top left;
}
.background_forecourt {
	background: url(../images/mytool_forecourt.gif) no-repeat top left;
}
.background_itspendingpredictor {
	background: url(../images/mytool_itspendingpredictor.gif) no-repeat top left;
}
.background_fuelcards {
	background: url(../images/mytool_fuelcards.gif) no-repeat top left;
}
.background_techtrends {
	background: url(../images/mytool_techtrends.gif) no-repeat top left;
}
.background_itcontracts {
	background: url(../images/mytool_itcontracts.gif) no-repeat top left;
}
.background_newsletters {
	background: url(../images/mytool_newsletter.gif) no-repeat top left;
}
.background_retaildatabase {
	background: url(../images/mytool_retaildatabase.gif) no-repeat top left;
}
.background_icon_edit {
	background: url(../images/savedsearch_edit.gif) no-repeat top left;
}
.background_icon_delete {
	background: url(../images/savedsearch_delete.gif) no-repeat top left;
}
.background_icon_alert {
	background: url(../images/savedsearch_alert.gif) no-repeat top left;
}
.background_icon_alert2 {
	background: url(../images/savedsearch_alert2.gif) no-repeat top left;
}
.background_icon_alert3 {
	background: url(../images/rssFeed.png) no-repeat top left;
}

.background_icon_myhome {
	background: url(../images/savedsearch_myhome.gif) no-repeat top left;
}
.background_icon_myhome2 {
	background: url(../images/savedsearch_myhome2.gif) no-repeat top left;
}


.background_searchgo {
	background: url(../images/header_search.gif) no-repeat right 1px;
}



.background_searchgo2 {
	background: url(../images/refine_searchgo.gif) no-repeat top left;
}
.background_button_save {
	background: url(../images/button_save.gif) no-repeat top left;
} m
.background_button_home {
	background: url(../images/button_home.gif) no-repeat top left;
}
.background_button_alert {
	background: url(../images/button_alert.gif) no-repeat top left;
}
.background_button_groupalert {
	background: url(../images/button_Groupalert.gif) no-repeat top left;
}
.background_welcome {
	background: url(../images/welcome.gif) no-repeat top left;
}
.background_welcome_ND {
	background: url(../images/welcome_nd.gif) no-repeat top left;
}
.background_404 {
	background: url(../images/404.gif) no-repeat top left;
}
.background_clipicon {
	background: url(../images/tool_clip.gif) no-repeat top left;
}
.background_arrow_1up {
	background: url(../images/arrow_1up.gif) no-repeat top left;
}
.background_arrow_2up {
	background: url(../images/arrow_2up.gif) no-repeat top left;
}
.background_arrow_1left {
	background: url(../images/arrow_1left.gif) no-repeat top left;
}
.background_arrow_2left {
	background: url(../images/arrow_2left.gif) no-repeat top left;
}
.background_arrow_1down {
	background: url(../images/arrow_1down.gif) no-repeat top left;
}
.background_arrow_2down {
	background: url(../images/arrow_2down.gif) no-repeat top left;
}
.background_arrow_1right {
	background: url(../images/arrow_1right.gif) no-repeat top left;
}
.background_arrow_2right {
	background: url(../images/arrow_2right.gif) no-repeat top left;
}
.background_processing {
	background: url(../images/processing.gif) no-repeat top left;
}

.background_users {
	background-color: transparent;
	background-image: url(../images/mytool_users.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-x-position: left;
	background-y-position: top;
}

/* COMPANY PROFILE POP-UP
-----------------------------------------------------------------------------
*/
#ie5menu {
	background-color: #ECF0F5;
}
/*Hack for IE6*/
#ie5menu{
}
#ie5menu .title {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
}
#ie5menu .menuitem, #ie5menu .menuitem-last{
	border-bottom: 1px solid #BFC4D1;
	border-left: 1px solid #BFC4D1;
	border-right: 1px solid #BFC4D1;
}
/* make rollover area of link full width of bar */
#ie5menu .menuitem a, #ie5menu .menuitem-last a {
}
#ie5menu .menuitem-last { 
	border-bottom: 1px solid #BFC4D1
}
/* link style for company links */
#rep_body a.co:link, #rep_body a.co:visited, #rep_body a.co:hover {
	border-bottom: 1px solid #BFC4D1; 
}


/* COMPANY PROFILE STYLES
-----------------------------------------------------------------------------
*/
.company_styles H1 {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) no-repeat left -50px;
}
.company_styles H2 {
	border-top: 1px solid #BFC4D1;
	color: #DC671E;
}
.company_styles LI {
	background: url(../images/bullet.gif) no-repeat 5px 3px;
}

/* RATINGS
-----------------------------------------------------------------------------
*/

.stars, UL.stars {
	background-image: url(../images/stars.gif);	
}
.stars_big .stars, .stars_big UL.stars {
	background-image: url(../images/stars_big.gif);
}
A.star_text:link, A.star_text:visited, A.star_text:active {
	color: #ACB2C3;
}
A.star_text:hover {
	color: #DC671E;
}
.popup_icon_rating {
	background: url(../images/popup_icon_rating.gif) no-repeat left 24px;
}
.tool_rating {
	background: url(../images/tool_rating.gif) no-repeat 0px 8px;
}
.background_rating {
	background: url(../images/mytool_rating.gif) no-repeat top left;
	border: 0;
}

/* TOGGLE VIEW
-----------------------------------------------------------------------------
*/

#toggleview {
	background: url(../images/iReport_extract_over.gif) repeat-x;
	border-left: 1px solid #BFC4D1;
	border-top: 1px solid #BFC4D1;
	border-bottom: 1px solid #BFC4D1;
}

#toggleview A {
	border-right: 1px solid #BFC4D1;
}

#toggleview A#toggleview_list {
	background: url(../images/toggleview.gif) no-repeat -31px -32px;	
}

#toggleview A#toggleview_group {
	background: url(../images/toggleview.gif) no-repeat 3px -32px;	
}

#toggleview A#toggleview_list:hover, #toggleview A#toggleview_list.selectedview  {
	background: url(../images/toggleview.gif) no-repeat -31px 3px;	
}

#toggleview A#toggleview_group:hover, #toggleview A#toggleview_group.selectedview  {
	background: url(../images/toggleview.gif) no-repeat 3px 3px;	
}

/* THEME PAGE
-----------------------------------------------------------------------------
*/

.theme_alert {
	background: url(../images/theme_alert.gif) no-repeat;	
}

.theme_ask {
	background: url(../images/theme_ask.gif) no-repeat;	
}

.theme_alert_done {
	background: url(../images/theme_alert_done.gif) no-repeat;	
}
/* AUTOCOMPLETE
-----------------------------------------------------------------------------
*/

div.autocomplete {
	left: 749px !important; 
	top: 23px !important;
}

div.autocomplete ul li H5 {
	background: #81889b url(../images/popularsearch_heading.gif) repeat-x;
}

div.autocomplete ul li a:hover, div.autocomplete ul li.selected {
	background: #ECF0F5;
}

/* Fix for popular search autocompleter - Philip Morris */
#autocomplete_choices LI A:hover, 
#autocomplete_choices .selected A:link, 
#autocomplete_choices .selected A:visited, 
#autocomplete_choices .selected A:active {
	color: black;
	background: none;
}

/* ADVANCED SEARCH
-----------------------------------------------------------------------------
*/

.advancedsearch_background {
	border: 2px solid #D9E1EC;
}

/* TAXONOMY BLURB
-----------------------------------------------------------------------------
*/
#pagetitle h2.taxonomy_blurb {
    border-top: #D9E1EC 1px dashed;
}

/* NEW FIND INFO
-----------------------------------------------------------------------------
*/
.findinfo_overview, .findinfo_advanced, .findinfo_company, .findinfo_cloud {
      background-image: url(../images/findinfo_icons.gif);
}
.findinfo LI.findinfo_selected {
      background: url(../images/findinfo_selected.png) no-repeat;
      _background: url(../images/findinfo_selected.gif) no-repeat;
}

/* WELCOME ICONS
-----------------------------------------------------------------------------
*/
#welcome_icons_index, #welcome_icons_advanced, #welcome_icons_search {
	background-image: url(../images/welcome_icons.gif);
}


.loadingpanel
{
	background-color:#fafafa;
}

/* PAGE NUMBERS
-----------------------------------------------------------------------------
*/
.search_pagesnumbers {
	position: relative;
	float: left;
	clear: left;
	width: 100%;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px;
	font-size: 10px;
	font-weight: bold;
}
.search_pagesnumbers_left {
	position: relative;
	float: left;
	clear: left;
	width: auto;
}
.search_pagesnumbers_right {
	position: relative;
	float: right;
	clear: right;
	width: auto;
	text-align: right;
}

powsearch_pagesnumbers
{
    border-top: #BFC4D1 solid 1px;
    border-bottom: #BFC4D1 solid 1px;
}

.powsearch_pagesnumbers_right 
 {
	 padding-left: 2px;
     color: #ACB2C3;
 }
.powsearch_pagesnumbers {
	position: relative;
	float: left;
	clear: left;
	width: 400px;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px;
	font-size: 10px;
	font-weight: bold;
	nowrap:false;
	display: inline;
}
.powsearch_pagesnumbers_right 
{
	position: relative;
	float: right;
	clear: right;
	width: auto;
	text-align: right;
	nowrap:false;
}

/* checkedlist user control*/
.clsInline
{
	float:left;
	display:inline;
	vertical-align:top;  
}
.tickboxes input {
	height: 10px;
	vertical-align: top;
	display: inline;
	clear: left;
	float: left;
}
.tickboxes label {
	float: left;
	width: 90%;
	line-height: 14px;
	margin: 2px 0px 10px 5px;
}
.chktextalign
{
	
	_display:inline-block;
	padding-top:0px;
	padding-left:14px;
	_padding-left:0px;
	_padding-top:2px;
}

.searchtree
{
	position:relative; 
	overflow-x:auto; 
	width:250px; 	
	
}

.NotesMethodology {
	/*background: url(../images/mainstyles_bullet.gif) no-repeat 0px 6px;*/
	padding: 1px 0px 0px 8px;
	margin: 0px;		
	font-size: 10px;
	line-height: 10px;	
	float:right;
	font-weight:lighter;

}

.other_links {
	background: url(../images/mainstyles_bullet.gif) no-repeat 2px 13px;
}



.BredCrumbHeadings
{
	color: #DC671E; 
	font-weight:bold; 
	font-size:10px;
}


/* Charting Page */

#column_other_chartnav .refinesearch H2 {
	color: #DC671E;
}
#column_other_chartnav H5{
	color: #DC671E;
	border-bottom: 1px solid #BFC4D1;
}

.analyzeresults_col1 {
	background:transparent url(../images/background_mytools.gif) repeat-y scroll 551px top;
}

#analyzeresults_filter  H1 {
	color: #DC671E;
}


/* iREPORT - TOOLS PANEL
-----------------------------------------------------------------------------
*/
#iReport_tools H1 {
	color: #DC671E;
}
.tool_ask {
	background: url(../images/tool_ask.gif) no-repeat 0px 8px;
}
.tool_cart {
	background: url(../images/tool_cart.gif) no-repeat 0px 8px;
}
.tool_clip {
	background: url(../images/tool_clip.gif) no-repeat 0px 8px;
}
.tool_email {
	background: url(../images/tool_email.gif) no-repeat 0px 8px;
}
.tool_excel {
	background: url(../images/tool_excel2.gif) no-repeat 0px 8px;
}
.tool_extract {
	background: url(../images/tool_extract.gif) no-repeat 0px 8px;
}
.tool_pdf {
	background: url(../images/tool_pdf.gif) no-repeat 0px 8px;
}
.tool_powerpoint {
	background: url(../images/tool_powerpoint.gif) no-repeat 0px 8px;
}
.tool_print {
	background: url(../images/tool_print.gif) no-repeat 0px 8px;
}
.tool_word {
	background: url(../images/tool_word.gif) no-repeat 0px 8px;
}

.button_right_chart {
	color: #FFFFFF;
}
.button_right_chart {
	background: url(../images/button_left.gif) no-repeat left top;
}
.button_right_chart a:link, .button_right_chart a:active, .button_right_chart a:visited {
	color: #FFFFFF;
	background: url(../images/button_right.gif) no-repeat right top;
}
.button_right_chart a:hover {
	background-position: right -30px;
}



/* DISPLAY OPTIONS - OPTIONS
-----------------------------------------------------------------------------
*/
#display_options
{
	background: url(../images/retail_background.gif) #3e4d74 repeat-x left top;	
}
/* DISPLAY OPTIONS - DROP DOWN TAB
-----------------------------------------------------------------------------
*/
#display_options_tab DIV
{
	background: url(../images/display_options_tabs.gif) no-repeat right top;
}
#display_options_tab A
{
	background: url(../images/display_options_tabs.gif) no-repeat left top;
}

#database_tabs_bar
{
	border-top: #586587 1px solid;
	background: url(../images/mainstyles_header.gif) #001447 repeat-x left -3px;
}
#database_tabs_bar LI A:hover
{
	color: #dc671e;
}
#database_tabs_bar LI.title
{
	border-right: #586587 1px solid;
}

/* DISPLAY OPTIONS - BUTTONS
-----------------------------------------------------------------------------
*/

#display_options_buttons A
{	
	background: url(../images/mainstyles_header.gif) #001447 no-repeat left -50px;
}
#display_options_buttons A:hover
{
	text-decoration: none;
}
#display_options_buttons A.save_button
{
	background: url(../images/refine_selected.gif) #e58d56 repeat-x;	
}


.RemovedTaxonomyHeading
{
	color:#DC671E;
	font-weight:bold
}
.RemovedTaxonomyData
{
	color:#1E3267;
	font-weight:bold
}

.HeadingCell 
{ 
  background-image: url(../images/mainstyles_header.gif);
}


/*.database_tabs1 LI A.ask
{
	background: url(../images/tool_ask.gif)  no-repeat;
}
.database_tabs1 LI A.help
{
	background: url(../images/tool_help.gif) no-repeat;
}
 #database_tabs LI A.ask
{
	background: url(../images/tool_ask.gif) no-repeat;
}
 #database_tabs LI A.help
{
	background: url(../images/help.gif) no-repeat;
}
*/

/* DATABASE TABS
-----------------------------------------------------------------------------
*/
#database_tabs
{
	width: 100%;
	border-bottom: #001447 5px solid;
	list-style-type: none;
	height: 26px;
}
#database_tabs LI
{
	display: inline;
	list-style-type: none;
}
#database_tabs LI A
{
	border-right: #ffffff 1px solid;
	padding-right: 10px;
	padding-left: 10px;
	font-weight: bold;
	font-size: 10px;
	background: #d9e1ec;
	  color: #001447;
	float: left;
	padding-bottom: 8px;
	line-height: 10px;
	padding-top: 8px;
	text-decoration: none;
}
#database_tabs LI A.selected
{
	background: url(../images/mainstyles_header.gif) #001447 repeat-x left -1px; 
	color: #ffffff;
}
#database_tabs LI.other_option A
{
	border-right: #bfc4d1 1px solid;
	padding-right: 7px;
	padding-left: 12px;
	font-weight: normal;
	background: 0px 50%;
	float: right;
	padding-bottom: 0px;
	margin-right: 7px;
	padding-top: 0px;
}

#database_tabs LI.last A
{
	border-top-width: 0px;
	padding-right: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	margin-right: 0px;
	border-right-width: 0px;
}
 
#database_tabs LI A.help
{
	background: url(../images/tool_help.gif) no-repeat;
	color: #001447;
}
#database_tabs LI A.ask
{
	background: url(../images/tool_ask.gif) no-repeat;
	color: #001447;
}
#database_tabs LI A:hover {
	color: #DC671E;
}
#database_tabs LI A.selected {
	color: #FFFFFF;
	background: #001447 url(../images/mainstyles_header.gif) repeat-x left -1px;
}

.subtitle .jumplinks {
	margin-top: 7px;
	font-weight: normal;
	border-bottom: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	color: #000000;
}
.jumplinks {
	list-style: none;
	clear: left;
	float: left;
	width: 100%;
	font-weight: bold;
	margin-bottom: 15px;
	border-bottom: 1px solid #D9E1EC;
	padding-bottom: 7px;
	color: #BFC4D1;
}
.jumplinks LI {
	display: inline;
	float: left;
	border-right: 1px solid #BFC4D1;
	padding-right: 7px;
	margin-right: 7px;
	font-size: 10px;
	line-height: 10px;
	padding-bottom: 2px;
}
.jumplinks LI.last {
	border: 0;
	padding-right: 0px;
}
.jumplinks LI.excel_icon A, .jumplinks LI.pdf_icon A, .jumplinks LI.powerpoint_icon A, .jumplinks LI.word_icon A  {
	padding-left: 13px;
}
.jumplinks LI.excel_icon {
	background: url(../images/tool_excel2.gif) no-repeat;
	border: 0;
}
.jumplinks LI.pdf_icon {
	background: url(../images/tool_pdf.gif) no-repeat;
}
.jumplinks LI.powerpoint_icon {
	background: url(../images/tool_powerpoint.gif) no-repeat;
}
.jumplinks LI.word_icon {
	background: url(../images/tool_word.gif) no-repeat;
}

.PlotChartMessage
{
    display:none;
    float:right; 
    font-size:11px; 
    font-weight:normal;
    color:Black;
}

.ResultsPanel
{
    float:left;
    
}
.tdUpper
{
    text-align: center;
    height: 20px;
    width: 100px;
    background-color: #009900;
}
.tdLower
{ 
    text-align: center;
    height: 20px;
    width: 100px;
    background-color: #ff0000;
}
.tdSecond
{
    text-align: center;
    height: 20px;
    width: 100px;
    background-color: #ffcc33;
}
.tdThird
{
    text-align: center;
    height: 20px;
    width: 100px;
    background-color: #ff6600;
}