<%@ Control Language="C#" 
    AutoEventWireup="true" 
    CodeBehind="PageTitleBar.ascx.cs" 
    Inherits="Datamonitor.PremiumTools.Generic.Controls.PageTitleBar" %>
<div id="pagetitle">
    <table width="100%;" style="height:25" border="0">
        <tr>
            <td width="580"> 
                <h1><asp:Label ID="TitleLabel" runat="server"></asp:Label></h1>
            </td>
           <%-- <td >
                 <ul id="database_tabs">
                    
                    
                </ul>
            </td>--%>
        </tr>
  </table>
</div>