<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SelectionList.ascx.cs" Inherits="Datamonitor.PremiumTools.Generic.Controls.SelectionList" %>

<div id="advanced_criteria">

</div>          

<input id="hdnTaxonomyTypeID" type="hidden" value="" />
<input id="hdnTaxonomyType" type="hidden" value="" />
